@media (max-width: 1560px) {
    .container {
        padding-left: 40px;
        padding-right: 40px;
    }

    .header {
        &__container {
            max-height: 80px;
        }

        &__top {
            height: 80px;
            background-image: none;
        }

        &__logo {
            margin-left: 20px;
            max-height: 60px;
        }

        &__bottom {
            display: none;
        }

        .burger {
            display: block;
        }
    }

    .hero {
        &__item {
            font-size: 12px;

            &:not(:last-child) {
                margin-right: 10px;
            }
        }

        &__subtitle {
            max-width: none;
        }
    }

    .team {
        &__person {
            height: 250px;
        }

        &__name {
            font-size: 28px;
        }

        &__img {
            height: inherit;
            width: auto;
        }
    }

    .offers {
        &__list {
            flex-wrap: wrap;
            justify-content: center;
        }

        &__item {
            min-height: 300px;
            max-width: 30%;
            margin-bottom: 30px;
        }

        &__item:not(:last-child) {
            margin-right: 20px;
        }

        &__subtitle {
            font-size: 28px;
        }
    }

    .cases {

        &__tr>.cases__td:nth-child(1) {
            padding-left: 40px;
        }

        &__tr:not(:first-child)>.cases__td:last-child {
            display: flex;
            justify-content: space-around;
            padding-left: 40px;
            background-image: url("./images/svg/top.svg");
            background-repeat: no-repeat;
            background-position: 40px center;
        }

        .swiper-slide {
            img {
                // margin-top: 70px;
            }
        }

        &__list_3 {
            flex-direction: column;

            .problem {
                width: 100%;
            }

            .problem__title {
                min-width: 160px;
            }
        }

        // &__block-img {
        //     // display: none;
        // }

        // &__btns-block {
        //     width: 100%;
        //     left: 0;
        // }

        // &__block {
        //     align-items: center;
        // }
    }
}

@media (max-width: 1400px) {
    .title {
        font-size: 48px;
    }

    .reviews {
        &__container {
            padding-top: 50px;
            padding-bottom: 50px;
        }

        &__swiper {
            display: block;
        }

        &__subtitle {
            font-size: 36px;
        }

        &__list {
            display: none;
        }

        &__btns-block {
            display: block;
        }
    }

    .prices {
        &__subtitle {
            font-size: 36px;
        }

        &__container {
            padding-top: 50px;
            padding-bottom: 80px;
        }
    }

    .hero {
        &__title {
            font-size: 50px;
        }

        &__swiper {
            margin-top: 90px;
            background-size: 380px;
        }
    }

    .partners {
        &__container {
            padding-top: 50px;
            padding-bottom: 50px;
        }
    }

    .offers {
        &__container {
            padding-top: 50px;
            padding-bottom: 20px;
        }
    }

    .cases {
        &__container {
            padding-top: 50px;
            padding-bottom: 50px;
        }

        &__tr {
            grid-template-columns: 30% 30% 40%;
        }
    }

    .advantages {
        &__container {
            padding-top: 50px;
            padding-bottom: 50px;
        }

        &__wrapper {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(5, 100px);
        }

        &__label {
            grid-column: 1 / span 1;
            width: 100%;
            max-width: none;

            &_one {
                grid-row: 1 / span 1;
            }

            &_two {
                grid-row: 2 / span 1;
            }

            &_three {
                grid-row: 3 / span 1;
            }

            &_four {
                grid-row: 4 / span 1;
            }

            &_five {
                grid-row: 5 / span 1;
            }
        }

        &__content {
            grid-column: 2 / span 1;
            grid-row: 1 / span 5;
        }

        &__subtitle {
            font-size: 24px;
        }

        &__descr {
            font-size: 16px;
        }
    }

    .team {
        &__container {
            padding-top: 50px;
            padding-bottom: 50px;
        }

        &__post-title {
            font-size: 18px;
        }

        &__name {
            font-size: 18px;
        }

        &__sertificate {
            font-size: 16px;
        }
    }

    .callback {
        &__title {
            span {
                font-size: 50px;
            }
        }

        &__block {
            &_1 {
                padding: 70px 20px;
            }

            &_2 {
                padding: 70px 20px;
            }
        }
    }
}

@media (max-width: 1280px) {
    .hero {
        &__swiper {
            background-size: 340px;
        }

        // &__picture {
        //     min-width: 45%;
        // }

        &__item {
            font-size: 8px;
            padding: 11px 11px 11px 64px;
        }
    }

    .title {
        font-size: 36px;
    }

    .prices {
        th {
            font-size: 16px;
            // padding: 10px 14px;
        }

        td {
            font-size: 12px;
            // padding: 10px 14px;
        }

        .prices__tr:first-child>td:not(:first-child) {
            font-size: 16px;
        }
    }

    .team {
        &__person {
            height: 150px;
        }

        &__list {
            grid-gap: 16px;
        }

        &__img {
            min-width: 100px;
        }

        &__link {
            width: 78px;
            height: 78px;
        }
    }

    .cases {
        .swiper-slide {
            grid-template-columns: 1fr;
        }

        &__content.is-open {
            grid-template-columns: 33% auto auto auto;
            grid-gap: 0 16px;
        }

        &__caption {
            width: 100%;
            text-align: center;
        }

        &__block {
            align-items: center;
        }

        &__block-img {
            display: none;
        }

        &__img-ex {
            width: 100%;
            max-width: 280px;
            grid-column: 1/span 1;
            grid-row: 1/span 2;
            display: block;
        }

        &__tr {
            grid-template-columns: 40% 20% 40%;
        }

        &__list {
            grid-column: 2/span 3;

            &_1 {
                grid-column: 3/span 2;
            }
        }

        &__chart {
            grid-column: 2/span 3;
            min-height: 160px;
        }

        &__num {
            font-size: 22px;
        }

        &__img {
            width: 180px;
            grid-column: 2/span 1;
            margin-bottom: 0;
        }

        &__list_2 {
            .cases__img-block {
                margin-right: 6px;
            }

        }

        &__cash {
            grid-column: 2/span 3;

            .cases__item {
                padding: 6px 10px;

                &:first-child {
                    margin-right: 35px;
                }
            }
        }

        &__table {
            grid-column: 2/span 3;
        }

        &__td {
            padding: 10px 20px;
        }

        &__tr>.cases__td:nth-child(1) {
            padding-left: 20px;
        }

        &__tr:not(:first-child)>.cases__td:last-child {
            background-position: 20px center;
        }

        &__sub {
            font-size: 16px;
        }
    }
}

@media (max-width: 980px) {
    .title {
        font-size: 32px;
    }

    .container {
        padding-left: 12px;
        padding-right: 12px;
    }

    .burger__item {
        .header__dropdown-menu {
            max-width: 400px;
        }
    }

    .header {
        &__container {
            padding-left: 24px;
            padding-right: 24px;
        }
        // &__phone {
        //     padding-left: 20px;
        // }
        &__phone,
        &__mail {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 0;
            width: 40px;
            height: 40px;
            border-radius: 100%;
            background-color: #665a87;

            svg {
                position: absolute;
                width: 100%;
                margin: 0;
            }
        }

        &__phone-hover,
        &__mail-hover {
            display: none;
        }
    }

    .btn {
        font-size: 14px;
        padding: 20px 40px;
    }

    .hero {
        &__title {
            font-size: 36px;
            margin-bottom: 8px;
            max-width: 440px;
        }

        &__swiper {
            margin-top: 70px;
            background-size: 240px;
            background-position: right 0 bottom 70px;
        }

        &__block {
            min-width: 57%;
            padding-bottom: 40px;
        }

        &__item {
            padding: 14px 7px 14px 24px;
            background-size: 10px;
            background-position: 9px center;
        }

        &__name {
            padding: 10px 20px 34px;
        }

        &__person {
            font-size: 12px;
        }

        &__btn {
            padding: 24px 40px;
            margin-bottom: 12px;
        }

        &__subtitle {
            max-width: 420px;
            font-size: 20px;
            margin-bottom: 3px;

            &_last {
                font-size: 12px;
                margin-bottom: 20px;
            }
        }
    }

    .advantages {
        &__label {
            font-size: 24px;
            padding: 26px;
        }
    }

    .clients {
        &__container {
            padding: 50px 22px;
        }

        &__wrapper {
            display: none;
        }

        &__title {
            margin-bottom: 24px;
        }

        &__sw {
            display: block;
        }
    }

    .partners {
        &__title {
            margin-bottom: 32px;
        }

        &__img {
            height: 140px;
        }

        &__img:first-child {
            margin-right: 25px;
        }
    }

    .offers {
        &__title {
            margin-bottom: 22px;
        }

        &__subtitle {
            font-size: 24px;
        }

        &__item {
            min-height: 260px;
            padding: 20px;
        }
    }

    .cases {
        &__title {
            margin-bottom: 0;
        }
        &__subtitle {
            font-size: 30px;
            margin-bottom: 24px;
        }

        &__item {
            margin-bottom: 4px;
            padding-bottom: 10px;
        }

        &__caption {
            font-size: 24px;
            margin-bottom: 36px;
        }
        &__swiper {
            margin-bottom: 32px;
        }

        .swiper-slide {
            padding: 30px 16px;
        }

        &__btn {
            font-size: 14px;
            padding: 16px 20px;
        }

        &__btns-block {
            width: calc(100% + 28px);
            left: -16px;
        }
        &__pic {
            min-width: 27px;
            max-width: 27px;
            height: 27px;
            padding: 2px;
            margin-right: 2px;
        }

        &__cash {
            .cases__pic {
                min-width: 30px;
                height: 30px;
                padding: 2px;
                margin-right: 6px;
            }
            .cases__item {
                max-width: 180px;
                height: 40px;
            }
            .cases__desc {
                font-size: 8px;
            }
        }    
        &__list_2 {
            margin-bottom: 10px;

            .cases__img-block {
                min-width: 30px;
                height: 30px;

                .cases__pic {
                    width: 18px;
                    height: 18px;
                }
            }
        }

        &__num {
            font-size: 18px;
        }

        &__descr {
            font-size: 12px;
        }

        &__value {
            font-size: 16px;
        }

        &__sub {
            font-size: 16px;
        }

        &__img {
            min-height: min-content;
        }

        &__chart {
            min-height: 114px;
            margin-bottom: 0;
        }

        .problem {
            &__title {
                min-width: 120px;
                padding: 0 10px;
                font-size: 12px;
            }
            &__descr {
                font-size: 12px;
            }
        }

        .cases__td {
            font-size: 12px;
            padding: 2px;
        }

        .cases__tr>.cases__td:nth-child(1) {
            display: flex;
            align-items: center;
            padding-left: 20px;
        }

        .cases__tr:not(:first-child)>.cases__td:last-child {
            padding-left: 30px;
            background-position: 20px center;
        }
        .cases__link {
            padding: 22px 40px;
        }

        &__list_2 {
            .cases__item {
                padding: 4px;
            }

            .cases__img-block {
                display: none;
            }
        }
        &__content.is-open {
            grid-template-columns: 30% auto auto auto;
        }
        &__btn_link {
            padding: 22px 40px;
        }
    }

    .prices {
        &__container {
            padding-bottom: 62px;
        }
        &__title {
            margin-bottom: 0;
        }

        &__subtitle {
            max-width: 560px;
            font-size: 32px;
            font-weight: 400;
        }
        &__td {
            padding: 12px;
        }
        .prices__table {
            width: 1200px;
        }

        &__block-title {
            padding: 0 10px;
            margin-bottom: 20px;
        }
        .prices__tr > td:first-child {
            max-width: 170px;
            font-size: 12px;
        }
        // &__btn {
        //     padding: 18px 22px;
        // }
        .prices__tr:first-child>td:not(:first-child) {
            font-size: 12px;
        }
        &__pic_logo {
            margin-bottom: 6px;
        }
        &__block {
            padding: 54px 20px 84px;
        }    
    }
    .reviews {
        &__subtitle {
            font-size: 30px;
            font-weight: 400;
            margin-bottom: 22px;
        }
        &__btns-block {
            right: 0;
        }
        &__video {
            height: 344px;
            max-height: none;
        }
        &__descr {
            max-width: 490px;
            font-size: 16px;
            margin-bottom: 26px;
            span {
                font-size: 16px;
            }
        }
        &__swiper {
            margin-bottom: 24px;
        }
        &__btn {
            padding: 22px 40px;
        }
    }
    .advantages {
        &__title {
            margin-bottom: 22px;
        }
        &__wrapper {
            grid-template-rows: repeat(5, 106px);
        }
        &__content {
            padding: 30px 24px;
        }
        &__list {
            margin-left: 0;
        }
    }
    .questions {
        &__container {
            padding-top: 50px;
            padding-bottom: 40px;
        }

        &__title {
            margin-bottom: 12px;
        }

        .accordion .ac .ac-panel .ac-text {
            font-size: 18px;
            padding: 6px 26px 6px 65px;
        }
        .accordion__btn {
            padding: 12px 30px 10px 0;
        }
    }

    .questions .accordion .ac .ac-trigger {
        font-size: 24px;
    }

    .questions .accordion .ac .ac-trigger::after {
        font-size: 42px;
        font-weight: 500;
        right: 0;
    }
    
    .questions .accordion .ac.is-active > .ac-header .ac-trigger::after {
        font-size: 24px;
    }
    .questions .accordion .ac .ac-panel .ac-text {
        line-height: 140%;
    }
    .callback {
        &__title {
            font-size: 28px;
            margin-bottom: 18px;
        }

        &__descr {
            font-size: 16px;
        }

        &__subtitle {
            font-size: 20px;
            margin-bottom: 12px;
        }

        &__label {
            font-size: 8px;
            margin-bottom: 8px;

            &_check {
                margin-bottom: 10px;
            }
        }

        &__span {
            border-radius: 2px;
            width: 14px;
            height: 14px;
        }

        &__block_1 {
            padding: 70px 4px 40px;
        }

        &__block_2 {
            padding-bottom: 40px;
        }

        &__input {
            padding: 0px 8px;
            margin-bottom: 4px;

            &_text {
                height: 50px;
                border-radius: 20px;
                margin-bottom: 12px;
            }
        }
        &__btn {
            padding: 22px 40px;
        }
    }

    .team {
        &__container {
            padding-bottom: 50px;
        }

        &__link {
            width: 36px;
            height: 36px;
        }

        &__post-title {
            font-size: 14px;
            min-height: 16px;
        }

        &__post {
            padding: 10px 10px;
        }

        &__title {
            max-width: 500px;
            margin-bottom: 20px;
        }

        &__sertificate {
            font-size: 12px;
        }

        &__name {
            font-size: 14px;
            padding-left: 14px;
            padding-bottom: 14px;
        }

        &__person {
            height: 140px;
        }
    }

    .footer {
        &__container {
            grid-template-columns: 40% 30% 30%;
            padding: 70px;
            padding-bottom: 50px;
        }

        &__list-pay {
            grid-template-columns: repeat(2, 80px);
        }

        &__title {
            font-size: 16px;
        }
    }
}

@media (max-width: 760px) {
    .title {
        font-size: 28px;
    }

    .header__mail {
        margin-right: 12px;
    }

    .header {
        &__item-trigger:hover>.header__dropdown-menu {
            display: none;
        }

        .burger {
            &__list {
                width: 90%;

            }

            &__title-menu {
                display: flex;
            }

            .header__dropdown-menu {
                position: fixed;
                left: 50px;
                padding: 20px;
                top: 60px;
                z-index: 200;
                max-width: 80%;

            }

            .header__link_arrow-right::after {
                display: block;
            }

            &__item-last {
                font-size: 16px;
                padding: 4px;
            }

            .burger__list-last {
                position: fixed;
                left: 50px;
                padding: 20px;
                top: 60px;
                z-index: 500;
                max-width: calc(100% - 70px);

            }

            &__link-last-trigger:hover~.burger__list-last {
                display: none;
            }
        }

    }

    .burger {
        &__item {
            padding: 3px;
        }
    }

    .clients {
        &__container {
            padding-top: 30px;
            padding-bottom: 30px;
        }
    }

    .hero {
        &__container {
            padding: 0;
            flex-direction: column-reverse;
        }

        &__swiper {
            margin-top: 20px;
            background-position: center;
        }

        &__picture {
            width: 316px;
            height: 290px;
            // margin: 20px auto 0;
            padding-left: 150px;
            // background-image: url("./images/hero-tablet.webp");
            background-position: bottom center;

        }

        &__name {
            position: absolute;
            left: 12%;
        }

        &__block {
            padding-left: 12px;
            padding-right: 12px;
            background-color: #28062c;
        }

        &__title {
            font-size: 30px;
        }

        &__subtitle {
            font-size: 16px;

            &_last {
                font-size: 10px;
            }
        }
    }

    .partners {
        &__title {
            span {
                font-size: 28px;
                color: $color-F3BC28;
            }
        }

        &__block {
            flex-direction: column;
        }

        &__img {
            width: 100%;
            height: auto;

            &:first-child {
                margin: 0;
                margin-bottom: 24px;
            }
        }
    }

    .offers {
        &__list {
            justify-content: space-around;
        }

        &__item {
            max-width: 45%;
            margin-right: 0;
            min-height: 260px;

            &:not(:last-child) {
                margin-right: 0;
            }

            &:nth-child(1),
            &:nth-child(3) {
                margin-right: 20px;
                ;
            }
        }
    }

    .cases {
        &__cash {
            flex-direction: column;

            .cases__item {
                padding: 8px;
            }
        }

        .swiper {
            margin-bottom: 20px;
        }

        .problem {
            &__title {
                font-size: 16px;
            }

            &__descr {
                font-size: 10px;
            }
        }

        &__item {
            width: 100%;
            margin-right: 0;
        }

        &__list_2 {
            // flex-wrap: wrap;
            justify-content: center;
            // flex-direction: column;
        }

        &__list_3 {
            flex-direction: column;

            .problem {
                width: 100%;
            }

            .problem__title {
                padding: 6px;
            }

        }

        &__link {
            margin-left: 0;
        }

        .cases__td {
            padding: 8px;
            font-size: 10px;
        }

        &__tr>.cases__td:nth-child(1) {
            padding-left: 10px;
        }

        &__img {
            width: 130px;
        }

        &__list_2 {
            .cases__item {
                padding: 2px 4px;
            }
        }
    }

    .prices {
        .prices__table {
            width: 800px;
        }

        .prices__tfoot .prices__tr:last-child td {
            padding: 9px 0;
        }
    }

    .reviews {

        &__subtitle {
            font-size: 22px;
        }

        &__descr {
            font-size: 16px;

            span {
                font-size: 20px;
                color: $color-F6A21E;
                font-weight: 600;
            }
        }
    }

    .advantages {
        &__container {
            padding-top: 30px;
            padding-bottom: 30px;
        }

        &__label {
            font-size: 16px;
        }

        &__wrapper {
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: repeat(6, auto);
        }

        &__input {
            grid-column: 1 / span 1;
        }

        &__content {
            grid-column: 1 / span 1;
            grid-row: 6 / span 1;
        }
    }

    .team {
        &__container {
            padding-top: 30px;
            padding-bottom: 30px;
        }

        &__list {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }

        &__item {
            min-width: 300px;
        }
    }

    .questions {
        &__container {
            padding-top: 30px;
            padding-bottom: 30px;
        }
    }

    .questions .accordion .ac .ac-panel .ac-text {
        font-size: 14px;
        padding: 14px 14px 14px 20px;
    }

    .questions .accordion .ac .ac-trigger {
        font-size: 16px;
    }

    .callback {
        &__container {
            grid-template-columns: repeat(1, 1fr);
        }

        &__block {
            padding-top: 30px;
            padding-bottom: 30px;
        }

        &__title {
            span {
                font-size: 36px;
            }
        }

        &__block_2 {
            box-shadow: none;
        }
    }

    .footer {
        &__container {
            padding: 30px 14px;
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: repeat(3, auto);
        }

        &__descr {
            text-align: center;
        }

        &__mail_hover::after {
            padding-left: 15px;
        }

        &__block {
            display: flex;
            flex-direction: column;
            align-items: center;
            grid-column: 1 / span 1;
        }

        &__block:nth-child(2) {
            grid-row: 1 / span 1;
        }
    }
}

@media (max-width: 620px) {
    .cases {
        &__sub {
            font-size: 14px;
        }

        &__img-ex {
            display: none;
        }

        &__img {
            grid-column: 1/span 1;
        }

        &__list {
            &_1 {
                grid-column: 2/span 3;
            }

            &_2 {
                grid-column: 1/span 4;
            }

            &_3 {
                grid-column: 1/span 4;
            }
        }

        &__cash {
            grid-column: 1/span 4;
        }

        &__chart {
            grid-column: 1/span 4;
        }

        &__table {
            grid-column: 1/span 4;
        }
    }
}

@media (max-width: 520px) {
    .offers {
        &__list {
            flex-direction: column;
        }

        &__item {
            max-width: 100%;
        }
    }

    .reviews {
        &__btns-block {
            top: 130px;
        }

    }
}

@media (max-width: 430px) {
    .custom-select {
        display: block;
    }

    .cases__tabs_desktop {
        display: none;
    }

    .header {
        &__container {
            padding-left: 14px;
            padding-right: 14px;
            max-height: 60px;
            border-radius: 0 0 35px 35px;
        }

        &__lang-name {
            font-size: 0;
        }

        &__lang-img {
            width: 20px;
        }

        &__logo {
            margin: 0;
        }

        &__phone {
            width: 36px;
            height: 36px;
            margin-right: 8px;
        }

        &__mail {
            width: 36px;
            height: 36px;

            margin-right: 8px;
        }

        &__top {
            height: 57px;
        }

        .burger {
            margin-top: 10px;

            &__list {
                width: 100%;
                min-height: calc(100vh - 46px);
                left: 0;
                right: 0;
                top: 56px;
                border-radius: 20px;
                overflow-y: auto;
                transition: transform 0.3s ease-in, opacity 0.3s ease-in;

                &.hidden {
                    transform: translateX(-100%);
                }

                &.visible {
                    transform: translateX(0);
                }
            }

            .burger__list-last {
                left: 0;
                top: 0;
                max-width: 100%;
            }

            .header__dropdown-menu {
                position: fixed;
                top: 0;
                left: 20px;
                right: 20px;
                max-width: fit-content;
                transition: transform 0.3s ease-in, opacity 0.3s ease-in;

                &.hidden {
                    transform: translateX(-100%);
                }

                &.visible {
                    transform: translateX(0);
                }
            }
        }

        &__logo-link {
            width: 130px;
        }
    }

    .hero {
        &__title {
            margin-bottom: 14px;
        }
        &__picture {
            width: 250px;
            height: 180px;
            margin: 10px 0 0;
        }

        &__swiper {
            background-image: url('./images/hero-bg-phone.webp');
            background-size: auto;
            margin: 0;
        }

        &__list {
            width: 100%;
            flex-direction: column;
        }

        &__name {
            padding: 10px;

            p {
                font-size: 10px;
            }
        }

        &__item {
            width: 100%;
            max-width: 100%;
            margin-bottom: 8px;
            margin-right: 0;
            padding: 16px 16px 16px 30px;
        }

        &__block {
            padding-top: 24px;
            padding-bottom: 35px;
        }
        &__btn {
            padding: 22px 40px;
        }
    }

    .partners {
        &__title {
            line-height: 24px;
            margin-bottom: 20px;
        }

        &__container {
            padding-top: 34px;
            padding-bottom: 30px;
        }

        &__img {
            height: 130px;
            width: auto;
            &_last {
                height: 110px;
            }
        }

        &__link {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    .offers {
        &__container {
            padding-top: 34px;
            padding-bottom: 0;
        }

        &__item {
            padding: 25px;
            background-size: cover;
            background-position: center top -40px;
        }

        &__title {
            margin-bottom: 14px;
        }

        &__item:not(:last-child) {
            margin-bottom: 11px;
        }
    }

    .cases {
        &__container {
            padding-top: 30px;
            padding-bottom: 32px;
        }

        &__img {
            display: none;
        }

        &__list_1 {
            grid-column: 1 / span 4;
            .cases__item {
                padding-bottom: 0;
            }
        }

        &__list_2 {
            flex-direction: column;
        }

        &__list_3 {

            // grid-column: 1 / span 3;
            .problem__title {
                min-width: 110px;
            }
        }

        .cases__tr:not(:first-child)>.cases__td:last-child {
            padding-left: 20px;
            background-position: 8px center;
        }

        .cases__tr>.cases__td:nth-child(1) {
            padding-left: 10px;
        }

        &__tabs {
            margin-bottom: 14px;
            .cases__btn {
                padding: 6px 8px;
            }
        }

        &__subtitle {
            font-size: 24px;
            margin-bottom: 20px;
            line-height: 20px;
        }
        &__subblock {
            flex-direction: row;
            align-items: center;
        }
        &__caption {
            text-align: center;
            font-size: 16px;
            margin-bottom: 10px;
        }

        .swiper-slide {
            padding: 16px 6px;
        }

        &__tabs {
            margin-bottom: 14px;
        }

        &__btn {
            margin: 0 5px 0 0;
        }

        &__btns-block {
            width: calc(100% + 12px);
            left: -6px;
            top: auto;
            bottom: 46px;
        }

        &__cash {
            .cases__item {
                padding: 2px;
                padding-left: 20px;
                &:first-child {
                    margin-bottom: 20px;
                }
            }
        }

        &__chart {
            min-height: 75px;
        }

        &__list_1 {
            // grid-column: 1/span 3;
            margin-bottom: 5px;

        }

        &__list_3 {
            .cases__pic {
                margin-right: 0;
            }

            .problem__title {
                font-size: 12px;
                padding: 3px;
            }
        }

        &__link {
            margin-top: 18px;
            padding: 20px 30px;
        }
        .cases__link {
            padding: 20px 30px;
        }
    }

    .partners {
        &__title {
            span {
                font-size: 20px;
                line-height: 20px;
            }
        }
    }

    .prices {
        &__container {
            padding-top: 30px;
            padding-bottom: 26px;
        }

        .prices__table {
            width: 680px;
        }

        &__subtitle {
            font-size: 28px;
            line-height: 30px;
        }

        .prices__tr:first-child>td:not(:first-child) {
            font-size: 10px;
        }
        .prices__tr > td:first-child {
            font-size: 6px;
            max-width: none;
            min-width: 82px;
        }

        &__block {
            padding: 22px 8px;
        }
        &__block-title {
            margin-bottom: 15px;
        }
        .simplebar-content {
            padding: 30px 8px;
        }

        &__btn {
            padding: 14px;
        }
        &__pic {
            width: 6px;
            height: 6px;
        }
        &__pic_logo {
            width: 60px;
            height: 14px;
        }

        th {
            font-size: 10px;
            padding: 8px 2px;
        }

        td {
            font-size: 8px;
            padding: 0;
        }
    }

    .reviews {
        &__title {
            margin-bottom: 6px;
        }
        &__container {
            padding-top: 30px;
            padding-bottom: 30px;
        }

        &__btns-block {
            right: 0;
        }

        &__subtitle {
            font-size: 24px;
            margin-bottom: 80px;
        }

        &__comment {
            padding: 21px 27px;
            margin-bottom: 10px;
        }
        &__descr {
            margin-bottom: 22px;
        }

        &__video {
            height: 300px;
            min-height: 300px;
        }

        &__swiper {
            margin-bottom: 20px;
        }
        &__btn {
            padding: 20px 30px;
        }
    }

    .advantages {
        &__container {
            padding-bottom: 20px;
        }
        &__title {
            padding: 0 5px;
            margin-bottom: 20px;
        }

        &__label {
            padding: 20px 14px;
        }

        &__content {
            padding: 20px;
        }

        &__subtitle {
            font-size: 18px;
            margin-bottom: 10px;
        }

        &__descr {
            font-size: 14px;
            :last-child {
                margin-bottom: 0;
            }
        }
        &__img {
            height: 36px;
        }
    }

    .team {
        &__container {
            padding-top: 40px;
            padding-bottom: 34px;
        }

        &__title {
            text-align: start;
            margin-bottom: 10px;
        }

        &__person {
            height: 180px;
        }

        &__name {
            font-size: 18px;
        }

        &__post {
            padding: 14px 14px;

            &-title {
                font-size: 18px;
            }
        }

        &__list {
            grid-gap: 20px;
        }

        &__link {
            width: 50px;
            height: 50px;
        }
    }

    .clients {
        &__container {
            padding-top: 30px;
            padding-bottom: 52px;
        }

        &__sw .swiper-slide .clients__img {
            max-height: 70px;
        }
        &__img:hover {
            transform: scale(1)
        }
    }

    .clients__sw .clients__btns-block {
        position: absolute;
        top: 10%;
        left: -13px;
        width: 110%;
        height: 48px;
    }

    .questions {
        &__title {
            font-size: 26px;
            text-align: start;
            margin-bottom: 13px;
        }

        .accordion .ac .ac-trigger::after {
            font-size: 34px;
            right: 0px;
            font-weight: 400;
        }
        .accordion .ac.is-active > .ac-header .ac-trigger::after {
            font-size: 16px;
        }
    }

    .callback {
        &__block {
            padding: 30px 0;

            &_1 {
                padding-bottom: 0;
            }
        }

        &__title {
            margin-bottom: 0;
            span {
                margin-bottom: 8px;
            }
        }
        &__btn {
            padding: 20px 30px;
        }

        &__descr {
            font-size: 0;
        }

        &__label {
            font-size: 8px;
            margin-bottom: 4px;
            &_check {
                margin-left: 0;
                padding-left: 20px;
                font-size: 10px;
                margin-bottom: 18px;
            }
        }
        &__subtitle {
            margin-bottom: 10px;
        }

        &__input {
            padding: 2px 6px;

            &_text {
                border-radius: 10px;
            }
        }

        &__modal {
            padding: 30px;

            .callback__block_2 {
                padding: 0;
            }
        }
    }

    .footer {
        &__container {
            grid-gap: 0;
            padding-top: 34px;
        }
        &__list-pay {
            grid-template-columns: repeat(2, 80px);
        }

        &__phone_hover::after {
            padding-left: 0;
        }

        &__mail_hover::after {
            padding-left: 15px;
        }
    }
}