$color-F1CA2D: #F1CA2D;
$color-F6A21E: #F6A21E;
$color-F3BC28: #F3BC28;
$color-FFFFFF: #FFFFFF;
$color-000000: #000000;
$color-4D3F75: #4D3F75;
$color-340738: #340738;
$color-56295A: #56295A;
$color-583E7A: #583E7A;
$color-5B1362: #5B1362;
$color-F3F3F3: #F3F3F3;
$color-9A9A9A: #9A9A9A;
$color-66BC4D: #66BC4D;
$color-0085C0: #0085C0;
$color-EE7263: #EE7263;
$color-FEF4F3: #FEF4F3;
$color-F3FAF4: #F3FAF4;

