<section class="advantages">
    <div class="advantages__container container">
        <h2 class="advantages__title title">ПОЧЕМУ СТОИТ ОБРАТИТЬСЯ К НАМ?</h2>
        <div class="advantages__wrapper">
            <input type="radio" class="advantages__input" name="tabs" id="tab-one" checked="checked">
            <label for="tab-one" class="advantages__label advantages__label_one">
                <svg class="advantages__img" viewBox="0 0 48 48" xmlns="http://www.w3.org/2000/svg">
                    <use xlink:href="./images/sprite.svg#icon-security">
                </svg>
                Гарантии - 12 месяцев
            </label>
            <div class="advantages__content">
                <h3 class="advantages__subtitle">Гарантии - 12 месяцев</h3>
                <ul class="advantages__list">
                    <li class="advantages__descr">Работа по договору. Все официально. Предоставляем весь пакет бухгалтерских
                        документов
                    </li>
                    <li class="advantages__descr">
                        2 концепции дизайна. Выполняем работы строго в соответствии с календарным планом
                    </li>
                    <li class="advantages__descr">
                        Поэтапная оплата. Оплата за работу делится на части.
                    </li>
                    <li class="advantages__descr">
                        Дружим с поисковиками. Делаем сайты, которые нравятся поисковым системам
                    </li>
                    <li class="advantages__descr">
                        Соблюдение сроков. Выполняем работы строго в соответствии с договором
                    </li>
                </ul>
            </div>
            <input type="radio" class="advantages__input" name="tabs" id="tab-two">
            <label for="tab-two" class="advantages__label advantages__label_two">
                <svg class="advantages__img" viewBox="0 0 48 48" xmlns="http://www.w3.org/2000/svg">
                    <use xlink:href="./images/sprite.svg#icon-pay">
                </svg>
                Предоплата - 25%
            </label>
            <div class="advantages__content">
                <h3 class="advantages__subtitle">Предоплата - 25%</h3>
                <p class="advantages__descr">Работа по договору. Все официально. Предоставляем весь пакет бухгалтерских
                    документов.
                    2 концепции дизайна. Выполняем работы строго в соответствии с календарным планом
                    Поэтапная оплата. Оплата за работу делится на части.
                    Дружим с поисковиками. Делаем сайты, которые нравятся поисковым системам
                    Соблюдение сроков. Выполняем работы строго в соответствии с договором
                </p>
            </div>
            <input type="radio" class="advantages__input" name="tabs" id="tab-three">
            <label for="tab-three" class="advantages__label advantages__label_three">
                <svg class="advantages__img" viewBox="0 0 48 48" xmlns="http://www.w3.org/2000/svg">
                    <use xlink:href="./images/sprite.svg#icon-design">
                </svg>
                Индивидуальный дизайн
            </label>
            <div class="advantages__content">
                <h3 class="advantages__subtitle">Индивидуальный дизайн</h3>
                <p class="advantages__descr">Работа по договору. Все официально. Предоставляем весь пакет бухгалтерских
                    документов.
                    2 концепции дизайна. Выполняем работы строго в соответствии с календарным планом
                    Поэтапная оплата. Оплата за работу делится на части.
                    Дружим с поисковиками. Делаем сайты, которые нравятся поисковым системам
                    Соблюдение сроков. Выполняем работы строго в соответствии с договором
                </p>
            </div>
            <input type="radio" class="advantages__input" name="tabs" id="tab-four">
            <label for="tab-four" class="advantages__label advantages__label_four">
                <svg class="advantages__img" viewBox="0 0 48 48" xmlns="http://www.w3.org/2000/svg">
                    <use xlink:href="./images/sprite.svg#icon-traning">
                </svg>
                Обучение работе сайта
            </label>
            <div class="advantages__content">
                <h3 class="advantages__subtitle">Обучение работе сайта</h3>
                <p class="advantages__descr">Работа по договору. Все официально. Предоставляем весь пакет бухгалтерских
                    документов.
                    2 концепции дизайна. Выполняем работы строго в соответствии с календарным планом
                    Поэтапная оплата. Оплата за работу делится на части.
                    Дружим с поисковиками. Делаем сайты, которые нравятся поисковым системам
                    Соблюдение сроков. Выполняем работы строго в соответствии с договором
                </p>
            </div>
            <input type="radio" class="advantages__input" name="tabs" id="tab-five">
            <label for="tab-five" class="advantages__label advantages__label_five">
                <svg class="advantages__img" viewBox="0 0 48 48" xmlns="http://www.w3.org/2000/svg">
                    <use xlink:href="./images/sprite.svg#icon-sertificate">
                </svg>
                Сертифицированные сотрудники в системе
            </label>
            <div class="advantages__content">
                <h3 class="advantages__subtitle">Сертифицированные сотрудники в системе</h3>
                <p class="advantages__descr">Работа по договору. Все официально. Предоставляем весь пакет бухгалтерских
                    документов.
                    2 концепции дизайна. Выполняем работы строго в соответствии с календарным планом
                    Поэтапная оплата. Оплата за работу делится на части.
                    Дружим с поисковиками. Делаем сайты, которые нравятся поисковым системам
                    Соблюдение сроков. Выполняем работы строго в соответствии с договором
                </p>
            </div>
        </div>
    </div>
</section>