<section class="callback">
    <div class="callback__container container">
        <div class="callback__block callback__block_1">
            <h2 class="callback__title title">
                ЗАКАЖИТЕ
                <span>УНИКАЛЬНЫЙ</span>
                <div class="callback__title-lg">САЙТ В МОСКВЕ</div>
            </h2>
            <p class="callback__descr">Понравился наш подход в работе?
                Мы рассчитаем и предложим вам варианты работ.</p>
        </div>
        <div class="callback__block callback__block_2">
            <h3 class="callback__subtitle">Будем рады помочь</h3>
            <form action="" class="callback__form">
                <label class="callback__label" for="name">Ваше имя</label>
                <input class="callback__input" type="text" name="name" id="name">
                <label class="callback__label" for="phone">Телефон</label>
                <input class="callback__input" type="tel" name="phone" id="phone">
                <label class="callback__label" for="message">Комментарий</label>
                <textarea class="callback__input callback__input_text" name="message" id="message" rows="3"></textarea>
                <label class="callback__label callback__label_check" for="agree">
                    <input class="callback__checkbox" type="checkbox" name="agree" id="agree">
                    <span class="callback__span"></span>
                    Нажимая кнопку отправить заявку, даю согласие на обработку персональных данных*</label>
                <button class="callback__btn btn">Отправить заявку</button>
            </form>
        </div>
    </div>
</section>