<section class="cases">
    <div class="cases__container container">
        <h2 class="cases__title title">
            ПРИМЕРЫ НАШИХ КЕЙСОВ
        </h2>
        <h3 class="cases__subtitle">Результаты контекстной рекламы</h3>
        <div class="cases__wrap">
            <div class="swiper cases__swiper" id="swiper1">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="cases__block-img">
                            <img src="./images/case-1.webp" loading="lazy" alt="Кейс Белпромстандарт">
                        </div>
                        <div class="cases__block">
                            <h4 class="cases__caption">Сертификация, разработка документации</h4>
                            <div class="cases__tabs cases__tabs_desktop ">
                                <button class="cases__btn is-active" data-tab-trigger="1">Воронка</button>
                                <button class="cases__btn" data-tab-trigger="2">График</button>
                                <button class="cases__btn" data-tab-trigger="3">Цифры</button>
                            </div>
                            <div class="cases__tabs cases__tabs_mobile custom-select">
                                <select>
                                    <option value="0" class="custom-option" data-tab-trigger-mobile="1">Воронка</option>
                                    <option value="1" class="custom-option" data-tab-trigger-mobile="1">Воронка</option>
                                    <option value="2" class="custom-option" data-tab-trigger-mobile="2">График</option>
                                    <option value="3" class="custom-option" data-tab-trigger-mobile="3">Цифры</option>
                                </select>
                            </div>

                            <div class="cases__content is-open" data-tab-content="1">
                                <div class="cases__img-ex"></div>
                                <div class="cases__img"></div>
                                <ul class="cases__list cases__list_1">
                                    <li class="cases__item">
                                        <svg class="cases__pic" viewBox="0 0 36 36" xmlns="http://www.w3.org/2000/svg">
                                            <use xlink:href="./images/sprite.svg#user">
                                        </svg>
                                        <span class="cases__num">2900</span>
                                        <span class="cases__descr">привлечено на сайт человек</span>
                                    </li>
                                    <li class="cases__item">
                                        <svg class="cases__pic" viewBox="0 0 36 36" xmlns="http://www.w3.org/2000/svg">
                                            <use xlink:href="./images/sprite.svg#arcticons-mail">
                                        </svg>
                                        <span class="cases__num">57</span>
                                        <span class="cases__descr">создано заявок с сайта</span>
                                    </li>
                                    <li class="cases__item">
                                        <svg class="cases__pic" viewBox="0 0 36 36" xmlns="http://www.w3.org/2000/svg">
                                            <use xlink:href="./images/sprite.svg#money-bag-broken">
                                        </svg>
                                        <span class="cases__num">17</span>
                                        <span class="cases__descr">продаж сделал клиент</span>
                                    </li>
                                </ul>
                                <div class="cases__cash">
                                    <div class="cases__item">
                                        <svg class="cases__pic" viewBox="0 0 36 36" xmlns="http://www.w3.org/2000/svg">
                                            <use xlink:href="./images/sprite.svg#arcticons-money-manager">
                                        </svg>
                                        <div class="cases__cash-block">
                                            <span class="cases__num">61 387</span>
                                            <span class="cases__descr">руб</span>
                                            <p class="cases__desc">бюджет на рекламу в месяц</p>
                                        </div>
                                    </div>
                                    <div class="cases__item">
                                        <svg class="cases__pic" viewBox="0 0 36 36" xmlns="http://www.w3.org/2000/svg">
                                            <use xlink:href="./images/sprite.svg#arcticons-money-wallet">
                                        </svg>
                                        <div class="cases__cash-block">
                                            <span class="cases__num">1 650 000</span>
                                            <span class="cases__descr">руб</span>
                                            <p class="cases__desc">доход от рекламы в месяц</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="cases__content" data-tab-content="2">
                                <div class="cases__img-ex"></div>
                                <div class="cases__chart"></div>
                                <ul class="cases__list cases__list_2">
                                    <li class="cases__item">
                                        <div class="cases__img-block cases__img-block_user">
                                            <svg class="cases__pic" viewBox="0 0 36 36"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <use xlink:href="./images/sprite.svg#user-white">
                                            </svg>
                                        </div>
                                        <div class="cases__block">
                                            <div class="cases__sub cases__sub_user">
                                                Посетители
                                            </div>
                                            <div class="cases__bl">
                                                <div class="cases__subblock">
                                                    <div class="cases__before">Было</div>
                                                    <div class="cases__value">70</div>
                                                </div>
                                                <div class="cases__subblock">
                                                    <div class="cases__before">Стало</div>
                                                    <div class="cases__value">2900</div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="cases__item">
                                        <div class="cases__img-block cases__img-block_mail">
                                            <svg class="cases__pic" viewBox="0 0 36 36"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <use xlink:href="./images/sprite.svg#arcticons-mail-white">
                                            </svg>
                                        </div>
                                        <div class="cases__block">
                                            <div class="cases__sub cases__sub_mail">
                                                Зявки
                                            </div>
                                            <div class="cases__bl">
                                                <div class="cases__subblock">
                                                    <div class="cases__before">Было</div>
                                                    <div class="cases__value">3</div>
                                                </div>
                                                <div class="cases__subblock">
                                                    <div class="cases__before">Стало</div>
                                                    <div class="cases__value">57</div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="cases__item">
                                        <div class="cases__img-block cases__img-block_money">
                                            <svg class="cases__pic" viewBox="0 0 36 36"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <use xlink:href="./images/sprite.svg#money-bag-broken-white">
                                            </svg>
                                        </div>
                                        <div class="cases__block">
                                            <div class="cases__sub cases__sub_money">
                                                Продажи
                                            </div>
                                            <div class="cases__bl">
                                                <div class="cases__subblock">
                                                    <div class="cases__before">Было</div>
                                                    <div class="cases__value">1</div>
                                                </div>
                                                <div class="cases__subblock">
                                                    <div class="cases__before">Стало</div>
                                                    <div class="cases__value">17</div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="cases__content" data-tab-content="3">
                                <div class="cases__img-ex"></div>
                                <ul class="cases__list cases__list_3">
                                    <li class="cases__item problem">
                                        <div class="problem__title problem__title_1">
                                            <svg class="cases__pic" viewBox="0 0 36 36"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <use xlink:href="./images/sprite.svg#close-filled">
                                            </svg>
                                            Проблема:
                                        </div>
                                        <div class="problem__descr">Малое количество ключевых запросов, минимальный
                                            трафик
                                            на сайт</div>
                                    </li>
                                    <li class="cases__item problem">
                                        <div class="problem__title problem__title_2">
                                            <svg class="cases__pic" viewBox="0 0 36 36"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <use xlink:href="./images/sprite.svg#done-filled">
                                            </svg>
                                            Задачи:
                                        </div>
                                        <div class="problem__descr">Увеличить количество конверсий;
                                            Снизить стоимость конверсий;
                                            Добавить новые продающие объявления.</div>
                                    </li>
                                </ul>
                                <div class="cases__table">
                                    <div class="cases__tr">
                                        <div class="cases__td">&nbsp;</div>
                                        <div class="cases__td">Без нас</div>
                                        <div class="cases__td">С нами</div>
                                    </div>
                                    <div class="cases__tr">
                                        <div class="cases__td">
                                            <svg class="cases__pic" viewBox="0 0 36 36"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <use xlink:href="./images/sprite.svg#user-color">
                                            </svg>
                                            Посетители
                                        </div>
                                        <div class="cases__td">70</div>
                                        <div class="cases__td">
                                            2900
                                            <span>
                                                +4 042,86%
                                            </span>
                                        </div>
                                    </div>
                                    <div class="cases__tr">
                                        <div class="cases__td">
                                            <svg class="cases__pic" viewBox="0 0 36 36"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <use xlink:href="./images/sprite.svg#arcticons-mail-color">
                                            </svg>
                                            Заявки
                                        </div>
                                        <div class="cases__td">3</div>
                                        <div class="cases__td">
                                            57
                                            <span>
                                                +1 800,00%
                                            </span>
                                        </div>
                                    </div>
                                    <div class="cases__tr">
                                        <div class="cases__td">
                                            <svg class="cases__pic" viewBox="0 0 36 36"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <use xlink:href="./images/sprite.svg#money-bag-broken-color">
                                            </svg>
                                            Продажи
                                        </div>
                                        <div class="cases__td">1</div>
                                        <div class="cases__td">
                                            17
                                            <span>
                                                +1 600,00%
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <a href="#" class="cases__link btn btn-show-modal">Хочу также!</a>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="cases__block-img">
                            <img src="./images/case-1.webp" loading="lazy" alt="Кейс Белпромстандарт">
                        </div>
                        <div class="cases__block">
                            <h4 class="cases__caption">Сертификация, разработка документации</h4>
                            <div class="cases__tabs cases__tabs_desktop ">
                                <button class="cases__btn is-active" data-tab-trigger="4">Воронка</button>
                                <button class="cases__btn" data-tab-trigger="5">График</button>
                                <button class="cases__btn" data-tab-trigger="6">Цифры</button>
                            </div>
                            <div class="cases__tabs cases__tabs_mobile custom-select">
                                <select>
                                    <option value="0" class="custom-option" data-tab-trigger-mobile="4">Воронка</option>
                                    <option value="4" class="custom-option" data-tab-trigger-mobile="4">Воронка</option>
                                    <option value="5" class="custom-option" data-tab-trigger-mobile="5">График</option>
                                    <option value="6" class="custom-option" data-tab-trigger-mobile="6">Цифры</option>
                                </select>
                            </div>

                            <div class="cases__content is-open" data-tab-content="4">
                                <div class="cases__img-ex"></div>
                                <div class="cases__img"></div>
                                <ul class="cases__list cases__list_1">
                                    <li class="cases__item">
                                        <svg class="cases__pic" viewBox="0 0 36 36" xmlns="http://www.w3.org/2000/svg">
                                            <use xlink:href="./images/sprite.svg#user">
                                        </svg>
                                        <span class="cases__num">2900</span>
                                        <span class="cases__descr">привлечено на сайт человек</span>
                                    </li>
                                    <li class="cases__item">
                                        <svg class="cases__pic" viewBox="0 0 36 36" xmlns="http://www.w3.org/2000/svg">
                                            <use xlink:href="./images/sprite.svg#arcticons-mail">
                                        </svg>
                                        <span class="cases__num">57</span>
                                        <span class="cases__descr">создано заявок с сайта</span>
                                    </li>
                                    <li class="cases__item">
                                        <svg class="cases__pic" viewBox="0 0 36 36" xmlns="http://www.w3.org/2000/svg">
                                            <use xlink:href="./images/sprite.svg#money-bag-broken">
                                        </svg>
                                        <span class="cases__num">17</span>
                                        <span class="cases__descr">продаж сделал клиент</span>
                                    </li>
                                </ul>
                                <div class="cases__cash">
                                    <div class="cases__item">
                                        <svg class="cases__pic" viewBox="0 0 36 36" xmlns="http://www.w3.org/2000/svg">
                                            <use xlink:href="./images/sprite.svg#arcticons-money-manager">
                                        </svg>
                                        <div class="cases__cash-block">
                                            <span class="cases__num">61 387</span>
                                            <span class="cases__descr">руб</span>
                                            <p class="cases__desc">бюджет на рекламу в месяц</p>
                                        </div>
                                    </div>
                                    <div class="cases__item">
                                        <svg class="cases__pic" viewBox="0 0 36 36" xmlns="http://www.w3.org/2000/svg">
                                            <use xlink:href="./images/sprite.svg#arcticons-money-wallet">
                                        </svg>
                                        <div class="cases__cash-block">
                                            <span class="cases__num">1 650 000</span>
                                            <span class="cases__descr">руб</span>
                                            <p class="cases__desc">доход от рекламы в месяц</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="cases__content" data-tab-content="5">
                                <div class="cases__img-ex"></div>
                                <div class="cases__chart"></div>
                                <ul class="cases__list cases__list_2">
                                    <li class="cases__item">
                                        <div class="cases__img-block cases__img-block_user">
                                            <svg class="cases__pic" viewBox="0 0 36 36"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <use xlink:href="./images/sprite.svg#user-white">
                                            </svg>
                                        </div>
                                        <div class="cases__block">
                                            <div class="cases__sub cases__sub_user">
                                                Посетители
                                            </div>
                                            <div class="cases__bl">
                                                <div class="cases__subblock">
                                                    <div class="cases__before">Было</div>
                                                    <div class="cases__value">70</div>
                                                </div>
                                                <div class="cases__subblock">
                                                    <div class="cases__before">Стало</div>
                                                    <div class="cases__value">2900</div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="cases__item">
                                        <div class="cases__img-block cases__img-block_mail">
                                            <svg class="cases__pic" viewBox="0 0 36 36"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <use xlink:href="./images/sprite.svg#arcticons-mail-white">
                                            </svg>
                                        </div>
                                        <div class="cases__block">
                                            <div class="cases__sub cases__sub_mail">
                                                Зявки
                                            </div>
                                            <div class="cases__bl">
                                                <div class="cases__subblock">
                                                    <div class="cases__before">Было</div>
                                                    <div class="cases__value">3</div>
                                                </div>
                                                <div class="cases__subblock">
                                                    <div class="cases__before">Стало</div>
                                                    <div class="cases__value">57</div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="cases__item">
                                        <div class="cases__img-block cases__img-block_money">
                                            <svg class="cases__pic" viewBox="0 0 36 36"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <use xlink:href="./images/sprite.svg#money-bag-broken-white">
                                            </svg>
                                        </div>
                                        <div class="cases__block">
                                            <div class="cases__sub cases__sub_money">
                                                Продажи
                                            </div>
                                            <div class="cases__bl">
                                                <div class="cases__subblock">
                                                    <div class="cases__before">Было</div>
                                                    <div class="cases__value">1</div>
                                                </div>
                                                <div class="cases__subblock">
                                                    <div class="cases__before">Стало</div>
                                                    <div class="cases__value">17</div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="cases__content" data-tab-content="6">
                                <div class="cases__img-ex"></div>
                                <ul class="cases__list cases__list_3">
                                    <li class="cases__item problem">
                                        <div class="problem__title problem__title_1">
                                            <svg class="cases__pic" viewBox="0 0 36 36"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <use xlink:href="./images/sprite.svg#close-filled">
                                            </svg>
                                            Проблема:
                                        </div>
                                        <div class="problem__descr">Малое количество ключевых запросов, минимальный
                                            трафик
                                            на сайт</div>
                                    </li>
                                    <li class="cases__item problem">
                                        <div class="problem__title problem__title_2">
                                            <svg class="cases__pic" viewBox="0 0 36 36"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <use xlink:href="./images/sprite.svg#done-filled">
                                            </svg>
                                            Задачи:
                                        </div>
                                        <div class="problem__descr">Увеличить количество конверсий;
                                            Снизить стоимость конверсий;
                                            Добавить новые продающие объявления.</div>
                                    </li>
                                </ul>
                                <div class="cases__table">
                                    <div class="cases__tr">
                                        <div class="cases__td">&nbsp;</div>
                                        <div class="cases__td">Без нас</div>
                                        <div class="cases__td">С нами</div>
                                    </div>
                                    <div class="cases__tr">
                                        <div class="cases__td">
                                            <svg class="cases__pic" viewBox="0 0 36 36"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <use xlink:href="./images/sprite.svg#user-color">
                                            </svg>
                                            Посетители
                                        </div>
                                        <div class="cases__td">70</div>
                                        <div class="cases__td">
                                            2900
                                            <span>
                                                +4 042,86%
                                            </span>
                                        </div>
                                    </div>
                                    <div class="cases__tr">
                                        <div class="cases__td">
                                            <svg class="cases__pic" viewBox="0 0 36 36"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <use xlink:href="./images/sprite.svg#arcticons-mail-color">
                                            </svg>
                                            Заявки
                                        </div>
                                        <div class="cases__td">3</div>
                                        <div class="cases__td">
                                            57
                                            <span>
                                                +1 800,00%
                                            </span>
                                        </div>
                                    </div>
                                    <div class="cases__tr">
                                        <div class="cases__td">
                                            <svg class="cases__pic" viewBox="0 0 36 36"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <use xlink:href="./images/sprite.svg#money-bag-broken-color">
                                            </svg>
                                            Продажи
                                        </div>
                                        <div class="cases__td">1</div>
                                        <div class="cases__td">
                                            17
                                            <span>
                                                +1 600,00%
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <a href="#" class="cases__link btn btn-show-modal">Хочу также!</a>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="cases__block-img">
                            <img src="./images/case-1.webp" loading="lazy" alt="Кейс Белпромстандарт">
                        </div>
                        <div class="cases__block">
                            <h4 class="cases__caption">Сертификация, разработка документации</h4>
                            <div class="cases__tabs cases__tabs_desktop ">
                                <button class="cases__btn is-active" data-tab-trigger="7">Воронка</button>
                                <button class="cases__btn" data-tab-trigger="8">График</button>
                                <button class="cases__btn" data-tab-trigger="9">Цифры</button>
                            </div>
                            <div class="cases__tabs cases__tabs_mobile custom-select">
                                <select>
                                    <option value="0" class="custom-option" data-tab-trigger-mobile="7">Воронка</option>
                                    <option value="7" class="custom-option" data-tab-trigger-mobile="7">Воронка</option>
                                    <option value="8" class="custom-option" data-tab-trigger-mobile="8">График</option>
                                    <option value="9" class="custom-option" data-tab-trigger-mobile="9">Цифры</option>
                                </select>
                            </div>

                            <div class="cases__content is-open" data-tab-content="7">
                                <div class="cases__img-ex"></div>
                                <div class="cases__img"></div>
                                <ul class="cases__list cases__list_1">
                                    <li class="cases__item">
                                        <svg class="cases__pic" viewBox="0 0 36 36" xmlns="http://www.w3.org/2000/svg">
                                            <use xlink:href="./images/sprite.svg#user">
                                        </svg>
                                        <span class="cases__num">2900</span>
                                        <span class="cases__descr">привлечено на сайт человек</span>
                                    </li>
                                    <li class="cases__item">
                                        <svg class="cases__pic" viewBox="0 0 36 36" xmlns="http://www.w3.org/2000/svg">
                                            <use xlink:href="./images/sprite.svg#arcticons-mail">
                                        </svg>
                                        <span class="cases__num">57</span>
                                        <span class="cases__descr">создано заявок с сайта</span>
                                    </li>
                                    <li class="cases__item">
                                        <svg class="cases__pic" viewBox="0 0 36 36" xmlns="http://www.w3.org/2000/svg">
                                            <use xlink:href="./images/sprite.svg#money-bag-broken">
                                        </svg>
                                        <span class="cases__num">17</span>
                                        <span class="cases__descr">продаж сделал клиент</span>
                                    </li>
                                </ul>
                                <div class="cases__cash">
                                    <div class="cases__item">
                                        <svg class="cases__pic" viewBox="0 0 36 36" xmlns="http://www.w3.org/2000/svg">
                                            <use xlink:href="./images/sprite.svg#arcticons-money-manager">
                                        </svg>
                                        <div class="cases__cash-block">
                                            <span class="cases__num">61 387</span>
                                            <span class="cases__descr">руб</span>
                                            <p class="cases__desc">бюджет на рекламу в месяц</p>
                                        </div>
                                    </div>
                                    <div class="cases__item">
                                        <svg class="cases__pic" viewBox="0 0 36 36" xmlns="http://www.w3.org/2000/svg">
                                            <use xlink:href="./images/sprite.svg#arcticons-money-wallet">
                                        </svg>
                                        <div class="cases__cash-block">
                                            <span class="cases__num">1 650 000</span>
                                            <span class="cases__descr">руб</span>
                                            <p class="cases__desc">доход от рекламы в месяц</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="cases__content" data-tab-content="8">
                                <div class="cases__img-ex"></div>
                                <div class="cases__chart"></div>
                                <ul class="cases__list cases__list_2">
                                    <li class="cases__item">
                                        <div class="cases__img-block cases__img-block_user">
                                            <svg class="cases__pic" viewBox="0 0 36 36"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <use xlink:href="./images/sprite.svg#user-white">
                                            </svg>
                                        </div>
                                        <div class="cases__block">
                                            <div class="cases__sub cases__sub_user">
                                                Посетители
                                            </div>
                                            <div class="cases__bl">
                                                <div class="cases__subblock">
                                                    <div class="cases__before">Было</div>
                                                    <div class="cases__value">70</div>
                                                </div>
                                                <div class="cases__subblock">
                                                    <div class="cases__before">Стало</div>
                                                    <div class="cases__value">2900</div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="cases__item">
                                        <div class="cases__img-block cases__img-block_mail">
                                            <svg class="cases__pic" viewBox="0 0 36 36"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <use xlink:href="./images/sprite.svg#arcticons-mail-white">
                                            </svg>
                                        </div>
                                        <div class="cases__block">
                                            <div class="cases__sub cases__sub_mail">
                                                Зявки
                                            </div>
                                            <div class="cases__bl">
                                                <div class="cases__subblock">
                                                    <div class="cases__before">Было</div>
                                                    <div class="cases__value">3</div>
                                                </div>
                                                <div class="cases__subblock">
                                                    <div class="cases__before">Стало</div>
                                                    <div class="cases__value">57</div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="cases__item">
                                        <div class="cases__img-block cases__img-block_money">
                                            <svg class="cases__pic" viewBox="0 0 36 36"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <use xlink:href="./images/sprite.svg#money-bag-broken-white">
                                            </svg>
                                        </div>
                                        <div class="cases__block">
                                            <div class="cases__sub cases__sub_money">
                                                Продажи
                                            </div>
                                            <div class="cases__bl">
                                                <div class="cases__subblock">
                                                    <div class="cases__before">Было</div>
                                                    <div class="cases__value">1</div>
                                                </div>
                                                <div class="cases__subblock">
                                                    <div class="cases__before">Стало</div>
                                                    <div class="cases__value">17</div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="cases__content" data-tab-content="9">
                                <div class="cases__img-ex"></div>
                                <ul class="cases__list cases__list_3">
                                    <li class="cases__item problem">
                                        <div class="problem__title problem__title_1">
                                            <svg class="cases__pic" viewBox="0 0 36 36"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <use xlink:href="./images/sprite.svg#close-filled">
                                            </svg>
                                            Проблема:
                                        </div>
                                        <div class="problem__descr">Малое количество ключевых запросов, минимальный
                                            трафик
                                            на сайт</div>
                                    </li>
                                    <li class="cases__item problem">
                                        <div class="problem__title problem__title_2">
                                            <svg class="cases__pic" viewBox="0 0 36 36"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <use xlink:href="./images/sprite.svg#done-filled">
                                            </svg>
                                            Задачи:
                                        </div>
                                        <div class="problem__descr">Увеличить количество конверсий;
                                            Снизить стоимость конверсий;
                                            Добавить новые продающие объявления.</div>
                                    </li>
                                </ul>
                                <div class="cases__table">
                                    <div class="cases__tr">
                                        <div class="cases__td">&nbsp;</div>
                                        <div class="cases__td">Без нас</div>
                                        <div class="cases__td">С нами</div>
                                    </div>
                                    <div class="cases__tr">
                                        <div class="cases__td">
                                            <svg class="cases__pic" viewBox="0 0 36 36"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <use xlink:href="./images/sprite.svg#user-color">
                                            </svg>
                                            Посетители
                                        </div>
                                        <div class="cases__td">70</div>
                                        <div class="cases__td">
                                            2900
                                            <span>
                                                +4 042,86%
                                            </span>
                                        </div>
                                    </div>
                                    <div class="cases__tr">
                                        <div class="cases__td">
                                            <svg class="cases__pic" viewBox="0 0 36 36"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <use xlink:href="./images/sprite.svg#arcticons-mail-color">
                                            </svg>
                                            Заявки
                                        </div>
                                        <div class="cases__td">3</div>
                                        <div class="cases__td">
                                            57
                                            <span>
                                                +1 800,00%
                                            </span>
                                        </div>
                                    </div>
                                    <div class="cases__tr">
                                        <div class="cases__td">
                                            <svg class="cases__pic" viewBox="0 0 36 36"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <use xlink:href="./images/sprite.svg#money-bag-broken-color">
                                            </svg>
                                            Продажи
                                        </div>
                                        <div class="cases__td">1</div>
                                        <div class="cases__td">
                                            17
                                            <span>
                                                +1 600,00%
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <a href="#" class="cases__link btn btn-show-modal">Хочу также!</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cases__btns-block">
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>
        </div>
        <a href="https://vtop3.by/portfolio/razrabotka-sajtov" class="cases__btn cases__btn_link btn">Перейти в порфолио</a>
    </div>
</section>