<section class="clients">
    <div class="clients__container container">
        <h2 class="clients__title title">НАШИ КЛИЕНТЫ</h2>
        <div class="clients__wrapper">
            <img class="clients__img" src="./images/partner-slide-1-color.webp" alt="Клиент">
            <img class="clients__img" src="./images/partner-slide-2-color.webp" alt="Клиент">
            <img class="clients__img" src="./images/partner-slide-3-color.webp" alt="Клиент">
            <img class="clients__img" src="./images/partner-slide-4-color.webp" alt="Клиент">
            <img class="clients__img" src="./images/partner-slide-5-color.webp" alt="Клиент">
            <img class="clients__img" src="./images/partner-slide-6-color.webp" alt="Клиент">
            <img class="clients__img" src="./images/partner-slide-7-color.webp" alt="Клиент">
            <img class="clients__img" src="./images/partner-slide-8-color.webp" alt="Клиент">
            <img class="clients__img" src="./images/partner-slide-9-color.webp" alt="Клиент">
            <img class="clients__img" src="./images/partner-slide-10-color.webp" alt="Клиент">
        </div>
        <div class="clients__sw">
            <div class="swiper clients__swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img class="clients__img" src="./images/partner-slide-1-color.webp" alt="Клиент">
                    </div>
                    <div class="swiper-slide">
                        <img class="clients__img" src="./images/partner-slide-2-color.webp" alt="Клиент">
                    </div>
                    <div class="swiper-slide">
                        <img class="clients__img" src="./images/partner-slide-3-color.webp" alt="Клиент">
                    </div>
                    <div class="swiper-slide">
                        <img class="clients__img" src="./images/partner-slide-4-color.webp" alt="Клиент">
                    </div>
                    <div class="swiper-slide">
                        <img class="clients__img" src="./images/partner-slide-5-color.webp" alt="Клиент">
                    </div>
                    <div class="swiper-slide">
                        <img class="clients__img" src="./images/partner-slide-6-color.webp" alt="Клиент">
                    </div>
                    <div class="swiper-slide">
                        <img class="clients__img" src="./images/partner-slide-7-color.webp" alt="Клиент">
                    </div>
                    <div class="swiper-slide">
                        <img class="clients__img" src="./images/partner-slide-8-color.webp" alt="Клиент">
                    </div>
                    <div class="swiper-slide">
                        <img class="clients__img" src="./images/partner-slide-9-color.webp" alt="Клиент">
                    </div>
                    <div class="swiper-slide">
                        <img class="clients__img" src="./images/partner-slide-10-color.webp" alt="Клиент">
                    </div>
                </div>
            </div>
            <div class="clients__btns-block">
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>
        </div>
    </div>
</section>