<footer class="footer">
    <div class="footer__container container">
        <div class="footer__block">
            <h2 class="footer__title mb-18">
                ЧКУП «Агентство рекламы и <br>
                веб-разработки ВТОП3»
            </h2>
            <p class="footer__descr footer__descr_mb8">
                Свидетельство <br>№ 192826921 от 06.04.2020г. <br>зарегистрировано Минским горисполкомом
            </p>
            <p class="footer__descr">
                УНП 192826921 <br>
                ОКПО 504044705000
            </p>
            <a href="#" target="_blank" class="footer__link-doc">Публичный договор (публичная оферта)</a>
            <a href="#" target="_blank" class="footer__link-doc">Политика конфиденциальности</a>
            <a href="#" target="_blank" class="footer__link-doc mb-16">Условия оказания услуг</a>
            <p class="footer__title">Оценка качества</p>
            <p class="footer__descr footer__descr_lg">Средняя оценка клиентов<span>4.8</span></p>
            <p class="footer__descr footer__descr_lg">Всего отзывов<span>12</span></p>
        </div>
        <div class="footer__block">
            <p class="footer__title">Пн-Пт</p>
            <p class="footer__descr">с 9:00 до 17:00</p>
            <p class="footer__title">Контакты</p>
            <a class="footer__phone footer__link" href="tel:+375292577007"> +375 (29) 257-70-07 
                <span class="footer__phone-hover">
                </span>
            </a>
            <a class="footer__mail footer__link" href="mailto:3577007by@gmail.com">3577007by@gmail.com
                <span class="footer__mail-hover">
                </span>
            </a>
            <ul class="footer__list-icon">
                <li class="footer__item">
                    <a href="#" class="footer__link" aria-label="Skype">
                        <svg class="footer__pic" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <use xlink:href="./images/sprite.svg#icon-skype">
                        </svg>
                    </a>
                </li>
                <li class="footer__item">
                    <a href="#" class="footer__link" aria-label="Whatsapp">
                        <svg class="footer__pic" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <use xlink:href="./images/sprite.svg#icon-whatsapp">
                        </svg>
                    </a>
                </li>
                <li class="footer__item">
                    <a href="#" class="footer__link" aria-label="Viber">
                        <svg class="footer__pic" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <use xlink:href="./images/sprite.svg#icon-viber">
                        </svg>
                    </a>
                </li>
                <li class="footer__item">
                    <a href="#" class="footer__link" aria-label="Telegram">
                        <svg class="footer__pic" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <use xlink:href="./images/sprite.svg#icon-tme">
                        </svg>
                    </a>
                </li>
            </ul>
            <p class="footer__title">Мы в соцсетях</p>
            <ul class="footer__list-icon">
                <li class="footer__item">
                    <a href="#" class="footer__link" aria-label="Vkontakte">
                        <svg class="footer__pic" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <use xlink:href="./images/sprite.svg#icon-vk">
                        </svg>
                    </a>
                </li>
                <li class="footer__item">
                    <a href="#" class="footer__link" aria-label="Одноклассники">
                        <svg class="footer__pic" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <use xlink:href="./images/sprite.svg#icon-ok">
                        </svg>
                    </a>
                </li>
                <li class="footer__item">
                    <a href="#" class="footer__link" aria-label="Facebook">
                        <svg class="footer__pic" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <use xlink:href="./images/sprite.svg#icon-fb">
                        </svg>
                    </a>
                </li>
                <li class="footer__item">
                    <a href="#" class="footer__link" aria-label="Instagram">
                        <svg class="footer__pic" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <use xlink:href="./images/sprite.svg#icon-instagram">
                        </svg>
                    </a>
                </li>
                <li class="footer__item">
                    <a href="#" class="footer__link" aria-label="YouTube">
                        <svg class="footer__pic" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <use xlink:href="./images/sprite.svg#icon-youtube">
                        </svg>
                    </a>
                </li>
            </ul>
        </div>
        <div class="footer__block">
            <p class="footer__title">Юридический адрес</p>
            <p class="footer__descr">Беларусь, г. Минск, ул. Короля д. 17</p>
            <p class="footer__title">Почтовый адрес</p>
            <p class="footer__descr">220089, а/я 113, г. Минск</p>
            <p class="footer__title">Способы оплаты</p>
            <ul class="footer__list-pay">
                <li class="footer__item-pay">
                    <a href="#" class="footer__link footer__link-pay footer__link-pay_1" aria-label="Способ оплаты Mastercard" >
                        <svg class="footer__img" viewBox="0 0 80 30" xmlns="http://www.w3.org/2000/svg">
                            <use xlink:href="./images/sprite.svg#pay-mastercard-securecode">
                        </svg>
                    </a>
                </li>
                <li class="footer__item-pay">
                    <a href="#" class="footer__link footer__link-pay footer__link-pay_2" aria-label="Способ оплаты Visa" >
                        <svg class="footer__img" viewBox="0 0 80 30" xmlns="http://www.w3.org/2000/svg">
                            <use xlink:href="./images/sprite.svg#pay-visa">
                        </svg>
                    </a>
                </li>
                <li class="footer__item-pay">
                    <a href="#" class="footer__link footer__link-pay footer__link-pay_3" aria-label="Способ оплаты Visa" >
                        <svg class="footer__img" viewBox="0 0 80 30" xmlns="http://www.w3.org/2000/svg">
                            <use xlink:href="./images/sprite.svg#pay-verified-visa">
                        </svg>
                    </a>
                </li>
                <li class="footer__item-pay">
                    <a href="#" class="footer__link footer__link-pay footer__link-pay_4" aria-label="Способ оплаты Белкарт" >
                        <svg class="footer__img" viewBox="0 0 80 30" xmlns="http://www.w3.org/2000/svg">
                            <use xlink:href="./images/sprite.svg#pay-belkart-2">
                        </svg>
                    </a>
                </li>
                <li class="footer__item-pay">
                    <a href="#" class="footer__link footer__link-pay footer__link-pay_5" aria-label="Способ оплаты Белкарт" >
                        <svg class="footer__img" viewBox="0 0 80 30" xmlns="http://www.w3.org/2000/svg">
                            <use xlink:href="./images/sprite.svg#pay-belkart">
                        </svg>
                    </a>
                </li>
                <li class="footer__item-pay">
                    <a href="#" class="footer__link footer__link-pay footer__link-pay_6" aria-label="Способ оплаты Mastercard" >
                        <svg class="footer__img" viewBox="0 0 80 30" xmlns="http://www.w3.org/2000/svg">
                            <use xlink:href="./images/sprite.svg#pay-mastercard">
                        </svg>
                    </a>
                </li>
                <li class="footer__item-pay">
                    <a href="#" class="footer__link footer__link-pay footer__link-pay_7" aria-label="Способ оплаты Webpay" >
                        <svg class="footer__img" viewBox="0 0 80 30" xmlns="http://www.w3.org/2000/svg">
                            <use xlink:href="./images/sprite.svg#pay-webpay">
                        </svg>
                    </a>
                </li>
                <li class="footer__item-pay">
                    <a href="#" class="footer__link footer__link-pay footer__link-pay_8" aria-label="Способ оплаты ЕРИП" >
                        <svg class="footer__img" viewBox="0 0 80 30" xmlns="http://www.w3.org/2000/svg">
                            <use xlink:href="./images/sprite.svg#pay-erip">
                        </svg>
                    </a>
                </li>
            </ul>

        </div>
        <div class="footer__about">© 2023 VTOP3</div>
    </div>
</footer>