<header class="header">
    <div class="header__container container">
        <h1 class="header__title hidden">
            Агентство рекламы и веб-разработки ВТОП3
        </h1>
        <div class="header__top">
            <div class="header__menu burger">
                <button class="burger__btn"></button>
                <nav class="burger__nav">
                    <ul class="burger__list hidden">
                        <li class="burger__item header__item header__item-trigger">
                            <a class="burger__link header__link" href="#">Все услуги</a>
                        </li>
                        <li class="burger__item header__item header__item-trigger">
                            <a class="burger__link header__link header__link_arrow-right" href="#">Продвижение сайтов
                                (SEO)</a>
                            <ul class="header__dropdown-menu">
                                <li class="burger__title-menu">
                                    <button class="burger__btn-back">
                                        <svg class="header__link-img" viewBox="0 0 30 30"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <use xlink:href="./images/sprite.svg#btn-back"></use>
                                        </svg>
                                    </button>
                                    <button class="burger__btn-close">
                                        <svg class="header__link-img" viewBox="0 0 30 30"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <use xlink:href="./images/sprite.svg#btn-close"></use>
                                        </svg>
                                    </button>
                                    Продвижение сайтов (SEO)
                                </li>
                                <li class="header__drop-item">
                                    <a class="header__link"
                                        href="/prodvizhenie-sajtov/prodvizhenie-po-pozicijam">Продвижение по
                                        позициям</a>
                                </li>
                                <li class="header__drop-item">
                                    <a class="header__link"
                                        href="/prodvizhenie-sajtov/prodvizhenie-po-lidam">Продвижение по лидам</a>
                                </li>
                                <li class="header__drop-item">
                                    <a class="header__link"
                                        href="/prodvizhenie-sajtov/prodvizhenie-po-trafiku">Продвижение по трафику</a>
                                </li>
                                <li class="header__drop-item">
                                    <a class="header__link"
                                        href="/prodvizhenie-sajtov/prodvizhenie-sajtov-google">Продвижение сайтов в
                                        Google</a>
                                </li>
                                <li class="header__drop-item">
                                    <a class="header__link"
                                        href="/prodvizhenie-sajtov/prodvizhenie-sajtov-yandex">Продвижение сайтов в
                                        Яндекс</a>
                                </li>
                            </ul>
                        </li>
                        <li class="burger__item header__item header__item-trigger">
                            <a class="burger__link header__link header__link_arrow-right" href="#">Контексная
                                реклама</a>
                            <ul class="header__dropdown-menu">
                                <li class="burger__title-menu">
                                    <button class="burger__btn-back">
                                        <svg class="header__link-img" viewBox="0 0 30 30"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <use xlink:href="./images/sprite.svg#btn-back"></use>
                                        </svg>
                                    </button>
                                    <button class="burger__btn-close">
                                        <svg class="header__link-img" viewBox="0 0 30 30"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <use xlink:href="./images/sprite.svg#btn-close"></use>
                                        </svg>
                                    </button>
                                    Контексная реклама
                                </li>
                                <li class="header__drop-item">
                                    <a class="header__link"
                                        href="/kontekstnaja-reklama/kontekstnaja-reklama-oplata-za-lidy">Контекстная
                                        реклама с оплатой за лиды</a>
                                </li>
                                <li class="header__drop-item">
                                    <a class="header__link"
                                        href="/kontekstnaja-reklama/kontekstnaja-reklama-fiksirovannaja-oplata">Контекстная
                                        реклама с фиксированной оплатой</a>
                                </li>
                                <li class="header__drop-item">
                                    <a class="header__link header__link_arrow-right burger__link-last-trigger"
                                        href="#">Реклама в Яндекс.Директ
                                    </a>
                                    <ul class="burger__list-last ">
                                        <li class="burger__title-menu">
                                            <button class="burger__btn-back">
                                                <svg class="header__link-img" viewBox="0 0 30 30"
                                                    xmlns="http://www.w3.org/2000/svg">
                                                    <use xlink:href="./images/sprite.svg#btn-back"></use>
                                                </svg>
                                            </button>
                                            <button class="burger__btn-close">
                                                <svg class="header__link-img" viewBox="0 0 30 30"
                                                    xmlns="http://www.w3.org/2000/svg">
                                                    <use xlink:href="./images/sprite.svg#btn-close"></use>
                                                </svg>
                                            </button>
                                            Реклама в Яндекс.Директ
                                        </li>
                                        <li class="burger__item-last">
                                            <a class="header__link" href="#">
                                                Настройка контекстной рекламы в Яндекс.Директ</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="burger__item header__item header__item-trigger">
                            <a class="burger__link header__link" href="#">Создание сайтов</a>
                        </li>
                        <li class="burger__item header__item header__item-trigger">
                            <a class="burger__link header__link" href="#">Медийнная реклама</a>
                        </li>
                        <li class="burger__item header__item header__item-trigger">
                            <a class="burger__link header__link" href="#">Разработка дизайна</a>
                        </li>
                        <li class="burger__item header__item header__item-trigger">
                            <a class="burger__link header__link" href="#">Продвижение в соц сетях (SMM)</a>
                        </li>
                        <li class="burger__item header__item header__item-trigger">
                            <a class="burger__link header__link" href="#">О компании</a>
                        </li>
                    </ul>
                    <!-- <ul class="burger__second-list">
                        <li class="burger__second-item"></li>
                        <li class="burger__second-item"></li>
                        <li class="burger__second-item"></li>
                    </ul>
                    <ul class="burger__third-list">
                        <li class="burger__second-item"></li>
                        <li class="burger__second-item"></li>
                        <li class="burger__second-item"></li>
                    </ul> -->
                </nav>
            </div>
            <div class="header__block-logo">
                <a class="header__logo-link" href="index.html">
                    <picture>
                        <source media="(max-width: 450px)" srcset="./images/svg/logo-phone.svg" />
                        <source media="(max-width: 1579px)" srcset="./images/svg/logo-tablet.svg" />
                        <source media="(min-width: 1580px)" srcset="./images/svg/logo-desktop.svg" />
                        <img class="header__logo" src="./images/svg/logo-desktop.svg"
                            alt="Логотип агенства рекламы и веб-разработки ВТОП3" />
                    </picture>
                </a>
            </div>
            <div class="header__block-callback">
                <a class="header__phone header__link" href="tel:+375292577007">
                    <svg class="header__link-img" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                        <use xlink:href="./images/sprite.svg#phone-icon"></use>
                    </svg>
                    +375 (29) 257-70-07
                    <span class="header__phone-hover">Показать номер</span>
                </a>
                <a class="header__mail header__mail_hover header__link" href="mailto:3577007by@gmail.com">
                    <svg class="header__link-img" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                        <use xlink:href="./images/sprite.svg#mail-icon"></use>
                    </svg>
                    3577007by@gmail.com
                    <span class="header__mail-hover">Показать email</span>
                </a>
                <div class="header__lang">
                    <span class="header__lang-name header__link_arrow">RU</span>
                    <svg class="header__lang-img header__link_arrow" viewBox="0 0 30 30"
                        xmlns="http://www.w3.org/2000/svg">
                        <use xlink:href="./images/sprite.svg#ru-flag"></use>
                    </svg>
                </div>
            </div>
        </div>
        <div class="header__bottom">
            <nav class="header__nav">
                <ul class="header__list">
                    <li class="header__item header__item-trigger">
                        <a class="header__link" href="#">Все услуги</a>
                    </li>
                    <li class="header__item header__item-trigger">
                        <a class="header__link header__link_arrow" href="#">Продвижение сайтов (SEO)</a>
                        <ul class="header__dropdown-menu">
                            <li class="header__drop-item">
                                <a class="header__link"
                                    href="/prodvizhenie-sajtov/prodvizhenie-po-pozicijam">Продвижение по позициям</a>
                            </li>
                            <li class="header__drop-item">
                                <a class="header__link" href="/prodvizhenie-sajtov/prodvizhenie-po-lidam">Продвижение по
                                    лидам</a>
                            </li>
                            <li class="header__drop-item">
                                <a class="header__link" href="/prodvizhenie-sajtov/prodvizhenie-po-trafiku">Продвижение
                                    по трафику</a>
                            </li>
                            <li class="header__drop-item">
                                <a class="header__link"
                                    href="/prodvizhenie-sajtov/prodvizhenie-sajtov-google">Продвижение сайтов в
                                    Google</a>
                            </li>
                            <li class="header__drop-item">
                                <a class="header__link"
                                    href="/prodvizhenie-sajtov/prodvizhenie-sajtov-yandex">Продвижение сайтов в
                                    Яндекс</a>
                            </li>
                        </ul>
                    </li>
                    <li class="header__item header__item-trigger">
                        <a class="header__link headre__link_active header__link_arrow" href="#">Контексная реклама</a>
                        <ul class="header__dropdown-menu">
                            <li class="header__drop-item">
                                <a class="header__link"
                                    href="/kontekstnaja-reklama/kontekstnaja-reklama-oplata-za-lidy">Контекстная реклама
                                    с оплатой за лиды</a>
                            </li>
                            <li class="header__drop-item">
                                <a class="header__link"
                                    href="/kontekstnaja-reklama/kontekstnaja-reklama-fiksirovannaja-oplata">Контекстная
                                    реклама с фиксированной оплатой</a>
                            </li>
                            <li class="header__drop-item">
                                <a class="header__link header__link_last-trigger header__link_arrow-right"
                                    href="/kontekstnaja-reklama/yandex-direct">Реклама в Яндекс.Директ</a>
                                <ul class="header__dropdown-menu header__dropdown-menu-include-last">
                                    <li class="header__drop-item">
                                        <a class="header__link"
                                            href="/kontekstnaja-reklama/yandex-direct/nastrojka-yandex-direct">Настройка
                                            контекстной рекламы в Яндекс.Директ</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="header__item header__item-trigger">
                        <a class="header__link header__link_arrow" href="#">Создание сайтов</a>
                        <div class="header__dropdown-menu header__dropdown-menu-flex">
                            <ul class="header__dropdown-menu-include">
                                <li class="header__drop-item">
                                    <a class="header__link" href="/sozdanie-sajtov/verstka">Верстка сайтов</a>
                                </li>
                                <li class="header__drop-item">
                                    <a class="header__link"
                                        href="/sozdanie-sajtov/administrirovanie-sajtov">Администрирование сайтов</a>
                                </li>
                                <li class="header__drop-item">
                                    <a class="header__link" href="/sozdanie-sajtov/dorabotka-sajtov">Доработка
                                        сайтов</a>
                                </li>
                                <li class="header__drop-item">
                                    <a class="header__link" href="/sozdanie-sajtov/napolnenie-sajtov">Наполнение
                                        сайта</a>
                                </li>
                                <li class="header__drop-item">
                                    <a class="header__link" href="/sozdanie-sajtov/razrabotka-lendingov">Разработка
                                        сайтов лендингов</a>
                                </li>
                                <li class="header__drop-item">
                                    <a class="header__link"
                                        href="/sozdanie-sajtov/razrabotka-internet-magazinov">Разработка интернет
                                        магазинов</a>
                                </li>
                            </ul>
                            <ul class="header__dropdown-menu-include">
                                <li class="header__drop-item">
                                    <a class="header__link"
                                        href="/sozdanie-sajtov/razrabotka-korporativnyh-sajtov">Разработка корпоративных
                                        сайтов</a>
                                </li>
                                <li class="header__drop-item">
                                    <a class="header__link" href="/sozdanie-sajtov/razrabotka-sajtov-vizitok">Разработка
                                        сайтов визиток</a>
                                </li>
                                <li class="header__drop-item">
                                    <a class="header__link"
                                        href="/sozdanie-sajtov/razrabotka-sajtov-portfolio">Разработка сайтов
                                        портфолио</a>
                                </li>
                                <li class="header__drop-item">
                                    <a class="header__link"
                                        href="/sozdanie-sajtov/razrabotka-informacionnyh-sajtov">Разработка
                                        информационных сайтов</a>
                                </li>
                                <li class="header__drop-item">
                                    <a class="header__link" href="/sozdanie-sajtov/razrabotka-sajtov-blogov">Разработка
                                        сайтов блогов</a>
                                </li>
                                <li class="header__drop-item header__drop-include">
                                    <a class="header__link header__link_arrow-right" href="#">Разработка сайтов с
                                        CMS</a>
                                    <ul class="header__dropdown-menu header__dropdown-menu-include-last">
                                        <li class="header__drop-item">
                                            <a class="header__link"
                                                href="/sozdanie-sajtov/cms/razrabotka-wordpress">Разработка сайтов на
                                                WordPress</a>
                                        </li>
                                        <li class="header__drop-item">
                                            <a class="header__link"
                                                href="/sozdanie-sajtov/cms/razrabotka-bitrix">Разработка сайтов на
                                                1С-Битрикс</a>
                                        </li>
                                        <li class="header__drop-item">
                                            <a class="header__link"
                                                href="/sozdanie-sajtov/cms/razrabotka-opencart">Разработка сайтов на
                                                OpenCart</a>
                                        </li>
                                        <li class="header__drop-item">
                                            <a class="header__link"
                                                href="/sozdanie-sajtov/cms/razrabotka-modx">Разработка сайтов на
                                                MODX</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="header__item header__item-trigger">
                        <a class="header__link" href="#">Медийнная реклама</a>
                    </li>
                    <li class="header__item header__item-trigger">
                        <a class="header__link header__link_arrow" href="#">Разработка дизайна</a>
                        <div class="header__dropdown-menu header__dropdown-menu-flex">
                            <ul class="header__dropdown-menu-include">
                                <li class="header__item">
                                    <a class="header__link header__link_arrow-right header__link_last-trigger"
                                        href="/dizajn/web-dizajn">Разработка веб-дизайна</a>
                                    <ul class="header__dropdown-menu header__dropdown-menu-include-last">
                                        <li class="header__item">
                                            <a class="header__link" href="/dizajn/web-dizajn/redizajn-sajtov">Редизайн
                                                сайта</a>
                                        </li>
                                        <li class="header__item">
                                            <a class="header__link" href="/dizajn/web-dizajn/dizajn-lendinga">Разработка
                                                дизайна лендинга</a>
                                        </li>
                                        <li class="header__item">
                                            <a class="header__link"
                                                href="/dizajn/web-dizajn/dizajn-korporativnogo-sajta">Разработка дизайна
                                                корпоративных сайтов</a>
                                        </li>
                                        <li class="header__item">
                                            <a class="header__link"
                                                href="/dizajn/web-dizajn/dizajn-internet-magazina">Разработка дизайна
                                                интернет магазина</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="header__item">
                                    <a class="header__link" href="/dizajn/dizajn-banner">Разработка баннеров</a>
                                </li>
                                <li class="header__item">
                                    <a class="header__link" href="/dizajn/dizajn-logotipa">Создание логотипов</a>
                                </li>
                                <li class="header__item">
                                    <a class="header__link" href="/dizajn/dizajn-vizitki">Разработка дизайна визиток</a>
                                </li>
                                <li class="header__item">
                                    <a class="header__link header__link_arrow-right header__link_last-trigger"
                                        href="/dizajn/dizajn-suvenirnoj-produkcii">Дизайн сувенирной продукции</a>
                                    <ul class="header__dropdown-menu header__dropdown-menu-include-last">
                                        <li class="header__item">
                                            <a class="header__link"
                                                href="/dizajn/dizajn-suvenirnoj-produkcii/dizajn-ruchek">Дизайн
                                                шариковых ручек</a>
                                        </li>
                                        <li class="header__item">
                                            <a class="header__link"
                                                href="/dizajn/dizajn-suvenirnoj-produkcii/dizajn-bloknotov">Разработка
                                                дизайна блокнотов</a>
                                        </li>
                                        <li class="header__item">
                                            <a class="header__link"
                                                href="/dizajn/dizajn-suvenirnoj-produkcii/dizajn-kalendarej">Разработка
                                                дизайна календарей</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="header__item">
                                    <a class="header__link" href="/dizajn/razrabotka-menu">Разработка меню</a>
                                </li>
                                <li class="header__item">
                                    <a class="header__link" href="/dizajn/dizajn-upakovki">Разработка дизайна
                                        упаковки</a>
                                </li>
                                <li class="header__item">
                                    <a class="header__link" href="/dizajn/dizajn-etiketki">Разработка дизайна
                                        этикетки</a>
                                </li>
                            </ul>
                            <ul class="header__dropdown-menu-include">
                                <li class="header__item">
                                    <a class="header__link" href="/dizajn/dizajn-listovok">Разработка дизайна
                                        листовок</a>
                                </li>
                                <li class="header__item">
                                    <a class="header__link" href="/dizajn/dizajn-firmennych-blankov">Дизайн фирменных
                                        бланков</a>
                                </li>
                                <li class="header__item">
                                    <a class="header__link" href="/dizajn/dizajn-bukletov">Разработка дизайна
                                        буклетов</a>
                                </li>
                                <li class="header__item">
                                    <a class="header__link" href="/dizajn/dizajn-broshjur">Разработка дизайна брошюр</a>
                                </li>
                                <li class="header__item">
                                    <a class="header__link" href="/dizajn/dizajn-konvertov">Разработка дизайна
                                        конвертов</a>
                                </li>
                                <li class="header__item">
                                    <a class="header__link" href="/dizajn/razrabotka-prezentacii">Разработка дизайна
                                        презентации</a>
                                </li>
                                <li class="header__item">
                                    <a class="header__link" href="/dizajn/firmennyj-stil">Дизайн фирменного стиля</a>
                                </li>
                                <li class="header__item">
                                    <a class="header__link" href="/dizajn/razrabotka-brenda">Разработка бренда</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="header__item header__item-trigger">
                        <a class="header__link" href="#">Продвижение в соц сетях (SMM)</a>
                    </li>
                    <li class="header__item header__item-trigger">
                        <a class="header__link header__link_arrow" href="#">О компании</a>
                        <ul class="header__dropdown-menu">
                            <li class="header__item">
                                <a class="header__link" href="https://vtop-3.ru/dogovor/dogovor-vtop3.pdf"
                                    target="_blank" rel="noopener noreferrer">Договор</a>
                            </li>
                            <li class="header__item">
                                <a class="header__link"
                                    href="https://docs.google.com/presentation/d/1GqHFeb8rscOucjCApEbPtX67ZRLa4HsBiV1XHGYkB-Q/edit?usp=sharing"
                                    rel="nofollow">Презентация компании</a>
                            </li>
                            <li class="header__item">
                                <a class="header__link" href="/o-kompanii/otzyvy">Отзывы</a>
                            </li>
                            <li class="header__item">
                                <a class="header__link" href="/o-kompanii/nasha-komanda">Наша команда</a>
                            </li>
                            <li class="header__item">
                                <a class="header__link" href="/o-kompanii/nasha-istorija">Наша история</a>
                            </li>
                            <li class="header__item">
                                <a class="header__link" href="/blog">Блог</a>
                            </li>
                            <li class="header__item">
                                <a class="header__link" href="/o-kompanii/vacancy">Вакансии</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>