<div class="itc-modal" id="modal">
  <div class="itc-modal-backdrop">
    <div class="itc-modal-content">
      <div class="itc-modal-header">
        <span class="itc-modal-btn-close" title="Закрыть">×</span>
      </div>
      <div class="itc-modal-body">
        <div class="callback callback__modal">
          <div class="callback__block callback__block_2">
            <h3 class="callback__subtitle">Будем рады помочь</h3>
            <form class="callback__form">
              <label class="callback__label" for="name">Ваше имя</label
              ><input
                class="callback__input"
                id="name-modal"
                type="text"
                name="name"
                required
              /><label class="callback__label" for="phone">Телефон</label
              ><input
                class="callback__input"
                id="phone-modal"
                type="tel"
                name="phone"
                required
              /><label class="callback__label" for="message">Комментарий</label
              ><textarea
                class="callback__input callback__input_text"
                id="message-modal"
                name="message"
                rows="3"
              ></textarea
              ><label class="callback__label callback__label_check" for="agree"
                >
                <input
                  class="callback__checkbox"
                  id="agree-modal"
                  type="checkbox"
                  name="agree"
                  checked="checked"
                  required
                />
                <span class="callback__span"></span>
                Нажимая кнопку отправить
                заявку, даю&nbsp;согласие на&nbsp;обработку персональных
                данных*
                </label
              ><button class="callback__btn btn btn-ok">
                Отправить заявку
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
