<div class="itc-modal" id="modal-success">
  <div class="itc-modal-backdrop">
    <div class="itc-modal-content">
      <div class="itc-modal-header">
        <span class="itc-modal-btn-close" title="Закрыть">×</span>
      </div>
      <div class="itc-modal-body">
        <div class="callback callback__modal">
          <div class="callback__block callback__block_2">
            <h3 class="callback__subtitle">Спасибо!</h3>
            <div class="callback__label">Мы скоро с Вами свяжемся!</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
