<section class="offers">
    <div class="offers__container container">
        <h2 class="offers__title title">ЧТО МЫ МОЖЕМ ПРЕДЛОЖИТЬ?</h2>
        <ul class="offers__list">
            <li class="offers__item offers__item_1 ">
                <h3 class="offers__subtitle">Реклама на поиске Google</h3>
            </li>
            <li class="offers__item offers__item_2">
                <h3 class="offers__subtitle">Реклама на поиске Яндекс</h3>
            </li>
            <li class="offers__item offers__item_3">
                <h3 class="offers__subtitle">Контекстно-медийная реклама (КМС)</h3>
            </li>
            <li class="offers__item offers__item_4">
                <h3 class="offers__subtitle">Рекламная сеть Яндекса (РСЯ)</h3>
            </li>
            <li class="offers__item offers__item_5">
                <h3 class="offers__subtitle">Реклама в мобильных приложениях</h3>
            </li>
        </ul>
    </div>
</section>