<section class="prices">
    <div class="prices__container container">
        <div class="prices__block-title">
            <h2 class="prices__title title">СКОЛЬКО СТОИТ</h2>
            <h3 class="prices__subtitle">КОНТЕКСТНАЯ РЕКЛАМА В МОСКВЕ</h3>
        </div>
        <div class="prices__block" data-simplebar>
            <table class="prices__table">
                <thead class="prices__thead">
                    <tr class="prices__tr" class="prices__tr">
                        <th class="prices__th">Тариф</th>
                        <th class="prices__th">Премиум</th>
                        <th class="prices__th prices__line_th">Оптимальный</th>
                        <th class="prices__th">Старт</th>
                    </tr>
                </thead>
                <tfoot class="prices__tfoot">
                    <tr class="prices__tr">
                        <td class="prices__td">

                        </td>
                        <td class="prices__td">
                            <button class="prices__btn btn btn-show-modal">Выбрать пакет</button>
                        </td>
                        <td class="prices__td prices__line">
                            <button class="prices__btn btn btn-show-modal">Выбрать пакет</button>
                        </td>
                        <td class="prices__td">
                            <button class="prices__btn btn btn-show-modal">Выбрать пакет</button>
                        </td>
                    </tr>
                </tfoot>
                <tbody class="prices__tbody">
                    <tr class="prices__tr">
                        <td class="prices__td">Бюджет в месяц</td>
                        <td class="prices__td">от 100 000 ₽</td>
                        <td class="prices__td prices__line">от 60 000 ₽</td>
                        <td class="prices__td">от 30 000 ₽</td>
                    </tr>
                    <tr class="prices__tr">
                        <td class="prices__td">1 месяц — подготовка и запуск рекламы</td>
                        <td class="prices__td">70 000 ₽</td>
                        <td class="prices__td prices__line">50 000 ₽</td>
                        <td class="prices__td">40 000 ₽</td>
                    </tr>
                    <tr class="prices__tr">
                        <td class="prices__td">Со 2 месяца сопровождение рекламы</td>
                        <td class="prices__td">25 000 ₽ / мес</td>
                        <td class="prices__td prices__line">20 000 ₽ / мес</td>
                        <td class="prices__td">15 000 ₽ / мес</td>
                    </tr>
                    <tr class="prices__tr">
                        <td class="prices__td">Количество запросов</td>
                        <td class="prices__td">без ограничения</td>
                        <td class="prices__td prices__line">до 2 000</td>
                        <td class="prices__td">до 500</td>
                    </tr>
                    <tr class="prices__tr">
                        <td class="prices__td">Количество направлений</td>
                        <td class="prices__td">без ограничения</td>
                        <td class="prices__td prices__line">до 5</td>
                        <td class="prices__td">до 2</td>
                    </tr>
                    <tr class="prices__tr">
                        <td class="prices__td">Аналитика/цели</td>
                        <td class="prices__td">
                            <div class="prices__td-flex">
                                <img loading="lazy" class="prices__pic prices__pic_logo" src="./images/svg/sprite/ya-metrica.svg" alt="Яндекс Метрика">
                                <img loading="lazy" class="prices__pic prices__pic_logo" src="./images/svg/sprite/google-analytica.svg" alt="Google аналитика">
                            </div>                           
                        </td>
                        <td class="prices__td prices__line">
                            <div class="prices__td-flex">
                                <img loading="lazy" class="prices__pic prices__pic_logo" src="./images/svg/sprite/ya-metrica.svg" alt="Яндекс Метрика">
                                <img loading="lazy" class="prices__pic prices__pic_logo" src="./images/svg/sprite/google-analytica.svg" alt="Google аналитика">
                            </div>                           
                        </td>
                        <td class="prices__td">
                            <div class="prices__td-flex">
                                <img loading="lazy" class="prices__pic prices__pic_logo" src="./images/svg/sprite/ya-metrica.svg" alt="Яндекс Метрика">
                                <img loading="lazy" class="prices__pic prices__pic_logo" src="./images/svg/sprite/google-analytica.svg" alt="Google аналитика">
                            </div>                           
                        </td>
                    </tr>
                    <tr class="prices__tr">
                        <td class="prices__td">Еженедельные отчёты</td>
                        <td class="prices__td">
                            <img loading="lazy" class="prices__pic " src="./images/svg/sprite/plus.svg" alt="Плюс">
                        </td>
                        <td class="prices__td prices__line">
                            <img loading="lazy" class="prices__pic " src="./images/svg/sprite/plus.svg" alt="Плюс">
                        </td>
                        <td class="prices__td">
                            <img loading="lazy" class="prices__pic " src="./images/svg/sprite/plus.svg" alt="Плюс">
                        </td>
                    </tr>
                    <tr class="prices__tr">
                        <td class="prices__td">Поисковая реклама</td>
                        <td class="prices__td">
                            <img loading="lazy" class="prices__pic " src="./images/svg/sprite/plus.svg" alt="Плюс">
                        </td>
                        <td class="prices__td prices__line">
                            <img loading="lazy" class="prices__pic " src="./images/svg/sprite/plus.svg" alt="Плюс">
                        </td>
                        <td class="prices__td">
                            <img loading="lazy" class="prices__pic " src="./images/svg/sprite/plus.svg" alt="Плюс">
                        </td>
                    </tr>
                    <tr class="prices__tr">
                        <td class="prices__td">Рекламная сеть Яндекс</td>
                        <td class="prices__td">
                            <img loading="lazy" class="prices__pic " src="./images/svg/sprite/plus.svg" alt="Плюс">
                        </td>
                        <td class="prices__td prices__line">
                            <img loading="lazy" class="prices__pic " src="./images/svg/sprite/plus.svg" alt="Плюс">
                        </td>
                        <td class="prices__td">
                            <img loading="lazy" class="prices__pic " src="./images/svg/sprite/plus.svg" alt="Плюс">
                        </td>
                    </tr>
                    <tr class="prices__tr">
                        <td class="prices__td">Ретаргетинг</td>
                        <td class="prices__td">
                            <img loading="lazy" class="prices__pic " src="./images/svg/sprite/plus.svg" alt="Плюс">

                        </td>
                        <td class="prices__td prices__line">
                            <img loading="lazy" class="prices__pic " src="./images/svg/sprite/plus.svg" alt="Плюс">

                        </td>
                        <td class="prices__td">
                            <img loading="lazy" class="prices__pic " src="./images/svg/sprite/minus.svg" alt="Минус">

                        </td>
                    </tr>
                    <tr class="prices__tr">
                        <td class="prices__td">Баннер на поиске</td>
                        <td class="prices__td">
                            <img loading="lazy" class="prices__pic " src="./images/svg/sprite/plus.svg" alt="Плюс">

                        </td>
                        <td class="prices__td prices__line">
                            <img loading="lazy" class="prices__pic " src="./images/svg/sprite/plus.svg" alt="Плюс">

                        </td>
                        <td class="prices__td">
                            <img loading="lazy" class="prices__pic " src="./images/svg/sprite/minus.svg" alt="Минус">

                        </td>
                    </tr>
                    <tr class="prices__tr">
                        <td class="prices__td">Коллтрекинг</td>
                        <td class="prices__td">
                            <img loading="lazy" class="prices__pic " src="./images/svg/sprite/plus.svg" alt="Плюс">

                        </td>
                        <td class="prices__td prices__line">
                            <img loading="lazy" class="prices__pic " src="./images/svg/sprite/plus.svg" alt="Плюс">

                        </td>
                        <td class="prices__td">
                            <img loading="lazy" class="prices__pic " src="./images/svg/sprite/minus.svg" alt="Минус">

                        </td>
                    </tr>
                    <tr class="prices__tr">
                        <td class="prices__td">Динамические объявления</td>
                        <td class="prices__td">
                            <img loading="lazy" class="prices__pic " src="./images/svg/sprite/plus.svg" alt="Плюс">

                        </td>
                        <td class="prices__td prices__line">
                            <img loading="lazy" class="prices__pic " src="./images/svg/sprite/minus.svg" alt="Минус">

                        </td>
                        <td class="prices__td">
                            <img loading="lazy" class="prices__pic " src="./images/svg/sprite/minus.svg" alt="Минус">

                        </td>
                    </tr>
                    <tr class="prices__tr">
                        <td class="prices__td">Смарт-баннеры</td>
                        <td class="prices__td">
                            <img loading="lazy" class="prices__pic " src="./images/svg/sprite/plus.svg" alt="Плюс">

                        </td>
                        <td class="prices__td prices__line">
                            <img loading="lazy" class="prices__pic " src="./images/svg/sprite/minus.svg" alt="Минус">

                        </td>
                        <td class="prices__td">
                            <img loading="lazy" class="prices__pic " src="./images/svg/sprite/minus.svg" alt="Минус">

                        </td>
                    </tr>
                    <tr class="prices__tr">
                        <td class="prices__td">Товарная РК</td>
                        <td class="prices__td">
                            <img loading="lazy" class="prices__pic " src="./images/svg/sprite/plus.svg" alt="Плюс">

                        </td>
                        <td class="prices__td prices__line">
                            <img loading="lazy" class="prices__pic " src="./images/svg/sprite/minus.svg" alt="Минус">

                        </td>
                        <td class="prices__td">
                            <img loading="lazy" class="prices__pic " src="./images/svg/sprite/minus.svg" alt="Минус">

                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>