<section class="questions">
    <div class="questions__container container">
        <h2 class="questions__title title">
            ЧАСТО ЗАДАВАЕМЫЕ ВОПРОСЫ
        </h2>
        <div class="questions__block accordion">
            <div class="accordion__ac ac">
                <h2 class="accordion__header ac-header">
                    <button class="accordion__btn ac-trigger" type="button">Наш подход к работе по разработке продающих
                        сайтов</button>
                </h2>
                <div class="accordion__panel ac-panel">
                    <p class="accordion__descr ac-text">Мы не пишем общих фраз, а выполняем конкретную работу, которая
                        приводит к конкретному результату,
                        а именно:
                        Создание (написание) полноценного текста, который будет интересен для покупателя — это наша
                        первоочередная задача
                        Создание форм захвата, которые будут привлекать внимание клиентов, что увеличит конверсию сайта
                        Создание уникального веб-дизайна, которым мы акцентируем внимание на текст, интересный
                        для вашего
                        покупателя и важный для принятия решения о покупке (заказе)
                    </p>
                </div>
            </div>
            <div class="accordion__ac ac">
                <h2 class="accordion__header ac-header">
                    <button class="accordion__btn ac-trigger" type="button">Наш порядок выполнения работ по созданию
                        сайтов</button>
                </h2>
                <div class="accordion__panel ac-panel">
                    <p class="accordion__descr ac-text">Мы не пишем общих фраз, а выполняем конкретную работу, которая
                        приводит к конкретному результату,
                        а именно:
                        Создание (написание) полноценного текста, который будет интересен для покупателя — это наша
                        первоочередная задача
                        Создание форм захвата, которые будут привлекать внимание клиентов, что увеличит конверсию сайта
                        Создание уникального веб-дизайна, которым мы акцентируем внимание на текст, интересный
                        для вашего
                        покупателя и важный для принятия решения о покупке (заказе)
                    </p>
                </div>
            </div>
            <div class="accordion__ac ac">
                <h2 class="accordion__header ac-header">
                    <button class="accordion__btn ac-trigger" type="button">Почему стоит обратиться к нам?</button>
                </h2>
                <div class="accordion__panel ac-panel">
                    <p class="accordion__descr ac-text">Мы не пишем общих фраз, а выполняем конкретную работу, которая
                        приводит к конкретному результату,
                        а именно:
                        Создание (написание) полноценного текста, который будет интересен для покупателя — это наша
                        первоочередная задача
                        Создание форм захвата, которые будут привлекать внимание клиентов, что увеличит конверсию сайта
                        Создание уникального веб-дизайна, которым мы акцентируем внимание на текст, интересный
                        для вашего
                        покупателя и важный для принятия решения о покупке (заказе)
                    </p>
                </div>
            </div>
            <div class="accordion__ac ac">
                <h2 class="accordion__header ac-header">
                    <button class="accordion__btn ac-trigger" type="button">Дополнительно с этой услугой
                        у нас заказывают</button>
                </h2>
                <div class="accordion__panel ac-panel">
                    <p class="accordion__descr ac-text">Мы не пишем общих фраз, а выполняем конкретную работу, которая
                        приводит к конкретному результату,
                        а именно:
                        Создание (написание) полноценного текста, который будет интересен для покупателя — это наша
                        первоочередная задача
                        Создание форм захвата, которые будут привлекать внимание клиентов, что увеличит конверсию сайта
                        Создание уникального веб-дизайна, которым мы акцентируем внимание на текст, интересный
                        для вашего
                        покупателя и важный для принятия решения о покупке (заказе)
                    </p>
                </div>
            </div>
            <div class="accordion__ac ac">
                <h2 class="accordion__header ac-header">
                    <button class="accordion__btn ac-trigger" type="button">Почему стоит обратиться к нам?</button>
                </h2>
                <div class="accordion__panel ac-panel">
                    <p class="accordion__descr ac-text">Мы не пишем общих фраз, а выполняем конкретную работу, которая
                        приводит к конкретному результату,
                        а именно:
                        Создание (написание) полноценного текста, который будет интересен для покупателя — это наша
                        первоочередная задача
                        Создание форм захвата, которые будут привлекать внимание клиентов, что увеличит конверсию сайта
                        Создание уникального веб-дизайна, которым мы акцентируем внимание на текст, интересный
                        для вашего
                        покупателя и важный для принятия решения о покупке (заказе)
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>