<section class="reviews">
    <div class="reviews__container container">
        <h2 class="reviews__title title">РЕАЛЬНЫЕ ОТЗЫВЫ</h2>
        <h3 class="reviews__subtitle">владельцев бизнеса</h3>
        <div class="reviews__btns-block">
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
        <div class="swiper reviews__swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="reviews__person">
                        <div class="reviews__avatar">
                        </div>
                        <div class="reviews__person-block">
                            <span class="reviews__name">Иванов Иван Иванович</span>
                            <span class="reviews__post">Генеральный директор ООО"Бакстройинвест"</span>
                        </div>
                    </div>
                    <div class="reviews__comment">В 1ой итерации кол-во правок неограниченно, но они не должны
                        противоречить предыдущим правкам и согласованным решениям на предыдущих этапах согласования
                        (референсы, эскиз).</div>
                    <div class="reviews__video">
                        <iframe width="420" height="260" src="https://www.youtube.com/embed/FBkdMh4hxqo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="reviews__person">
                        <div class="reviews__avatar">
                        </div>
                        <div class="reviews__person-block">
                            <span class="reviews__name">Иванов Иван Иванович</span>
                            <span class="reviews__post">Генеральный директор ООО"Бакстройинвест"</span>
                        </div>
                    </div>
                    <div class="reviews__comment">В 1ой итерации кол-во правок неограниченно, но они не должны
                        противоречить предыдущим правкам и согласованным решениям на предыдущих этапах согласования
                        (референсы, эскиз).</div>
                    <div class="reviews__video">
                        <iframe width="420" height="260" src="https://www.youtube.com/embed/FBkdMh4hxqo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="reviews__person">
                        <div class="reviews__avatar">
                        </div>
                        <div class="reviews__person-block">
                            <span class="reviews__name">Иванов Иван Иванович</span>
                            <span class="reviews__post">Генеральный директор ООО"Бакстройинвест"</span>
                        </div>
                    </div>
                    <div class="reviews__comment">В 1ой итерации кол-во правок неограниченно, но они не должны
                        противоречить предыдущим правкам и согласованным решениям на предыдущих этапах согласования
                        (референсы, эскиз).</div>
                    <div class="reviews__video">
                        <iframe width="420" height="260" src="https://www.youtube.com/embed/FBkdMh4hxqo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="reviews__person">
                        <div class="reviews__avatar">
                        </div>
                        <div class="reviews__person-block">
                            <span class="reviews__name">Иванов Иван Иванович</span>
                            <span class="reviews__post">Генеральный директор ООО"Бакстройинвест"</span>
                        </div>
                    </div>
                    <div class="reviews__comment">В 1ой итерации кол-во правок неограниченно, но они не должны
                        противоречить предыдущим правкам и согласованным решениям на предыдущих этапах согласования
                        (референсы, эскиз).</div>
                    <div class="reviews__video">
                        <iframe width="420" height="260" src="https://www.youtube.com/embed/FBkdMh4hxqo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="reviews__person">
                        <div class="reviews__avatar">
                        </div>
                        <div class="reviews__person-block">
                            <span class="reviews__name">Иванов Иван Иванович</span>
                            <span class="reviews__post">Генеральный директор ООО"Бакстройинвест"</span>
                        </div>
                    </div>
                    <div class="reviews__comment">В 1ой итерации кол-во правок неограниченно, но они не должны
                        противоречить предыдущим правкам и согласованным решениям на предыдущих этапах согласования
                        (референсы, эскиз).</div>
                    <div class="reviews__video">
                        <iframe width="420" height="260" src="https://www.youtube.com/embed/FBkdMh4hxqo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
        <ul class="reviews__list">
            <li class="reviews__item">
                <div class="reviews__person">
                    <div class="reviews__avatar">
                    </div>
                    <div class="reviews__person-block">
                        <span class="reviews__name">Иванов Иван Иванович</span>
                        <span class="reviews__post">Генеральный директор ООО"Бакстройинвест"</span>
                    </div>
                </div>
                <div class="reviews__comment">В 1ой итерации кол-во правок неограниченно, но они не должны
                    противоречить предыдущим правкам и согласованным решениям на предыдущих этапах согласования
                    (референсы, эскиз).</div>
                <div class="reviews__video">
                    <iframe width="420" height="260" src="https://www.youtube.com/embed/FBkdMh4hxqo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
            </li>
            <li class="reviews__item">
                <div class="reviews__person">
                    <div class="reviews__avatar"></div>
                    <div class="reviews__person-block">
                        <span class="reviews__name">Иванов Иван Иванович</span>
                        <span class="reviews__post">Генеральный директор ООО"Бакстройинвест"</span>
                    </div>
                </div>
                <div class="reviews__comment">В 1ой итерации кол-во правок неограниченно, но они не должны
                    противоречить
                    предыдущим правкам и согласованным решениям на предыдущих этапах согласования (референсы, эскиз).
                </div>
                <div class="reviews__video">
                    <iframe width="420" height="260" src="https://www.youtube.com/embed/FBkdMh4hxqo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
            </li>
            <li class="reviews__item">
                <div class="reviews__person">
                    <div class="reviews__avatar"></div>
                    <div class="reviews__person-block">
                        <span class="reviews__name">Иванов Иван Иванович</span>
                        <span class="reviews__post">Генеральный директор ООО"Бакстройинвест"</span>
                    </div>
                </div>
                <div class="reviews__comment">В 1ой итерации кол-во правок неограниченно, но они не должны
                    противоречить
                    предыдущим правкам и согласованным решениям на предыдущих этапах согласования (референсы, эскиз).
                </div>
                <div class="reviews__video">
                    <iframe width="420" height="260" src="https://www.youtube.com/embed/FBkdMh4hxqo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
            </li>
            <li class="reviews__item">
                <div class="reviews__person">
                    <div class="reviews__avatar"></div>
                    <div class="reviews__person-block">
                        <span class="reviews__name">Иванов Иван Иванович</span>
                        <span class="reviews__post">Генеральный директор ООО"Бакстройинвест"</span>
                    </div>
                </div>
                <div class="reviews__comment">В 1ой итерации кол-во правок неограниченно, но они не должны
                    противоречить
                    предыдущим правкам и согласованным решениям на предыдущих этапах согласования (референсы, эскиз).
                </div>
                <div class="reviews__video">
                    <iframe width="420" height="260" src="https://www.youtube.com/embed/FBkdMh4hxqo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
            </li>
        </ul>
        <p class="reviews__descr">Для нас <span>хороший сайт</span> - тот, который принял заказчик. Мы знаем, что вы,
            как никто другой, заинтересованы в успешном результате и хотите, чтобы Ваша компания имела свое собственное
            запоминающееся лицо.</p>
        <button class="reviews__btn btn">Разработать сайт</button>
    </div>
</section>