<section class="team">
    <div class="team__container container">
        <h2 class="team__title title">НАД ВАШИМ ПРОЕКТОМ БУДУТ РАБОТАТЬ</h2>
        <ul class="team__list">
            <li class="team__item">
                <div class="team__person">
                    <h3 class="team__name">Дмитрий</h3>
                    <img class="team__img" src="./images/person-desktop-1.webp"
                        alt="Дмитрий Технический директор (CTO)" />
                </div>
                <div class="team__post">
                    <h3 class="team__post-title">Технический директор (CTO)</h3>
                    <div class="team__sertificate">
                        Сертификаты:
                        <ul class="team__list-sert">
                            <li class="team__item-sert">
                                <a href="#" target="_blank" class="team__link">
                                    <div class="team__img-sert team__img-sert_1"></div>
                                </a>
                            </li>
                            <li class="team__item-sert">
                                <a href="#" target="_blank" class="team__link">
                                    <div class="team__img-sert team__img-sert_2"></div>
                                </a>
                            </li>
                            <li class="team__item-sert">
                                <a href="#" target="_blank" class="team__link">
                                    <div class="team__img-sert team__img-sert_3"></div>
                                </a>
                            </li>
                            <li class="team__item-sert">
                                <a href="#" target="_blank" class="team__link">
                                    <div class="team__img-sert team__img-sert_4"></div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
            <li class="team__item">
                <div class="team__person">
                    <h3 class="team__name">Екатерина</h3>
                    <img class="team__img" src="./images/person-desktop-2.webp" alt="Екатерина SEO специалист" />
                </div>
                <div class="team__post">
                    <h3 class="team__post-title">SEO специалист</h3>
                    <div class="team__sertificate">
                        Сертификаты:
                        <ul class="team__list-sert">
                            <li class="team__item-sert">
                                <a href="#" target="_blank" class="team__link">
                                    <div class="team__img-sert team__img-sert_1"></div>
                                </a>
                            </li>
                            <li class="team__item-sert">
                                <a href="#" target="_blank" class="team__link">
                                    <div class="team__img-sert team__img-sert_2"></div>
                                </a>
                            </li>
                            <li class="team__item-sert">
                                <a href="#" target="_blank" class="team__link">
                                    <div class="team__img-sert team__img-sert_3"></div>
                                </a>
                            </li>
                            <li class="team__item-sert">
                                <a href="#" target="_blank" class="team__link">
                                    <div class="team__img-sert team__img-sert_4"></div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
            <li class="team__item">
                <div class="team__person">
                    <h3 class="team__name">Марина</h3>
                    <img class="team__img" src="./images/person-desktop-3.webp" alt="Марина SEO специалист" />
                </div>
                <div class="team__post">
                    <h3 class="team__post-title">SEO специалист</h3>
                    <div class="team__sertificate">
                        Сертификаты:
                        <ul class="team__list-sert">
                            <li class="team__item-sert">
                                <a href="#" target="_blank" class="team__link">
                                    <div class="team__img-sert team__img-sert_1"></div>
                                </a>
                            </li>
                            <li class="team__item-sert">
                                <a href="#" target="_blank" class="team__link">
                                    <div class="team__img-sert team__img-sert_2"></div>
                                </a>
                            </li>
                            <li class="team__item-sert">
                                <a href="#" target="_blank" class="team__link">
                                    <div class="team__img-sert team__img-sert_3"></div>
                                </a>
                            </li>
                            <li class="team__item-sert">
                                <a href="#" target="_blank" class="team__link">
                                    <div class="team__img-sert team__img-sert_4"></div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>